{% extends "basic/layout.html" %}
{% set script_files = [] %}
{%- block doctype -%}
<!DOCTYPE html>
{%- endblock %}


{% block extrahead %}
    <link rel="stylesheet" href="{{ pathto('/css/guide.css', 1) }}">
    <script type="text/javascript">
      dojoConfig = {
        async: true
      };
    </script>
    <script type="text/javascript" src="{{ pathto('_static/js/dojo/dojo.js', 1) }}"></script>
    <script type="text/javascript" src="{{ pathto('_static/js/docs/guide.js', 1 )}}"></script>
{% endblock %}

{%- block document %}
  <div id="accessibilityNode">
    <a href="#intro">Skip to Content</a> | <a href="#nav">Skip to Navigation</a>
  </div>

  {% include "../../partials/nav.ejs" %}
  <main>
    <div class="row">
      <div class="large-9 columns content tutorial">
        {% block body %} {% endblock %}
      </div>
      <div class="large-3 columns content tutorial">
        <h4>Reference Guide</h4>
        <div id="dtkVersion">
          <label for="refver">Dojo Version</label>
          <select id="refver" name="refver">
            <option value="1.6">1.6</option>
            <option value="1.7">1.7</option>
            <option value="1.8">1.8</option>
            <option value="1.9">1.9</option>
            <option value="1.10" selected="selected">1.10</option>
          </select>
        </div>
        <ul>
          <li><a href="{{ pathto("index") }}">Startpage</a></li>
          <li><a href="{{ pathto("dojo/index") }}">Dojo</a></li>
          <li><a href="{{ pathto("dijit/index") }}">Dijit</a></li>
          <li><a href="{{ pathto("dojox/index") }}">DojoX</a></li>
        </ul>
        {{ toc }}
        {%- block sidebarsearch %}
        {%- if pagename != "search" %}
            <div id="searchbox" style="display: none">
                <h3>{{ _('Quick search') }}</h3>
                <form class="search" action="{{ pathto('search') }}" method="get">
                    <input type="text" name="q" size="18" />
                    <input type="submit" value="{{ _('Go') }}" />
                    <input type="hidden" name="check_keywords" value="yes" />
                    <input type="hidden" name="area" value="default" />
                 </form>
                 <p class="searchtip" style="font-size: 90%">
                     {{ _('Enter search terms or a module, class or function name.') }}
                 </p>
            </div>
        {%- endif %}
        {%- endblock %}

      </div>
      {{ footer }}
    </div>
  </main>
{%- endblock %}

{%- block footer %}
  <a href="https://docs.google.com/spreadsheet/viewform?hl=en_US&formkey=dFlDcHEyaHMwbEd4MFBObkNrX0E1MFE6MQ&entry_0=http%3A%2F%2Fdojotoolkit.org%2Freference-guide%2F1.10%2F">Error in the documentation? Can’t find what you are looking for? Let us know!</a>
  {% include "../../partials/footer.ejs" %}
{%- endblock %}