<!DOCTYPE html>
<html>
<head>
	<% include ../_partials/meta %>
	<title>Contribute - Dojo Toolkit</title>
</head>
	<body class="community">
		<% include ../_partials/header %>
		<main>
			<a href="https://github.com/dojo/dojo/blob/master/CONTRIBUTING.md">Contribute</a>
		</main>
	</body>
</html>