<!DOCTYPE html>
<html>
<head>
	<%- include ../_partials/meta %>
	<title>Community - Dojo Toolkit</title>
</head>
	<body class="community">
		<%- include ../_partials/header %>
		<main>

			<%- include ../_partials/footer %>
		</main>
	</body>
</html>