<div class="soc">
	<a href="<%= url.ext.github %>" class="icon-github icon" title="Dojo on Github"></a>
	<a href="<%= url.ext.twitter %>" class="icon-twitter icon" title="Dojo on Twitter"></a>
	<a href="<%= url.ext.facebook %>" class="icon-facebook icon" title="Dojo on Facebook"></a>
	<a href="<%= url.ext.googlePlus %>" class="icon-gplus icon" title="Dojo on Google Plus"></a>
</div>