<div class="soc">
	<a href="<%= url.ext.github %>" class="icon-github" title="Dojo on Github"></a>
	<a href="<%= url.ext.twitter %>" class="icon-twitter" title="Dojo on Twitter"></a>
	<a href="<%= url.ext.facebook %>" class="icon-facebook" title="Dojo on Facebook"></a>
	<a href="<%= url.ext.googlePlus %>" class="icon-gplus" title="Dojo on Google Plus"></a>
</div>