<div class="section" id="<%- tutorials.titleId %>">
            <h2 class="sectionTitle <%- tutorials.titleId %>"><%= tutorials.title %></h2>

<%

	tutorials.data.forEach(function(card, idx, arr){
			if(idx % 2 == 0) {
%>
				<div class="row">
<%			}
%>
			<%- include('tutorialCard', card); %>

<%			if(idx % 2 || idx == arr.length-1) {
%>
				</div>
<%			}
%>

<%		});
%>
</div>