[submodule "src/documentation/tutorials/1.10"]
	path = src/documentation/tutorials/1.10
	url = git@github.com:SitePen/dojo-tutorials.git
[submodule "src/scripts/dojo/dojo"]
	path = src/scripts/dojo/dojo
	url = git@github.com:dojo/dojo.git
[submodule "src/scripts/dojo/dijit"]
	path = src/scripts/dojo/dijit
	url = git@github.com:dojo/dijit.git
[submodule "src/scripts/dojo/dojox"]
	path = src/scripts/dojo/dojox
	url = git@github.com:dojo/dojox.git
[submodule "src/scripts/dojo/util"]
	path = src/scripts/dojo/util
	url = git@github.com:dojo/util.git
