node_modules
bower_components
.DS_Store
dist
TODO.md
src/**/*.doctree
src/**/*.pickle
src/**/*.pyc
src/_templates/refguide/footer.html
src/_templates/refguide/header.html
src/_partials/tmp
*.doctree
src/documentation/api/1.3
src/documentation/api/1.4
src/documentation/api/1.5
src/documentation/api/1.6
src/documentation/api/1.7
