@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import '../common'
@import '../variables'
@import '../../scripts/dojo/dojo/resources/dojo.css'
@import '../../scripts/dojo/dijit/themes/dijit.css'
@import '../vendor/dojo_flat/dojo/icons/*'
@import '../vendor/dojo_flat/dojo/form/Common'
@import '../vendor/dojo_flat/dojo/layout/TabContainer'
@import '../vendor/dojo_flat/dojo/form/Checkbox'
@import '../vendor/dojo_flat/dojo/form/Select'
@import '../vendor/dojo_flat/dojo/form/Button'
@import '../vendor/dojo_flat/dojo/Menu'
@import '../../scripts/syntaxhighlighter/css/shCore.css'
@import '../vendor/tomorrow-night-sh.css'
$imgPath = 'images/api_icons';
$navHeight = $navHeightShrink;
$subnavHeight = $subnavHeight * 0.8;

body,
html {
	width: 100%;
	height: 100%;
	font: $baseFontSize $bodyFont;
}

#head {
	padding: 0;
	border: none;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	overflow: hidden;
}

.nav {
	position:relative;
	height: $navHeight;
	overflow: hidden;
	.menu .menuItems li a {
		font-size: 1rem;
	}
	.row {
		padding-top: ($navHeight / 4);
	}
}

.dijitTabListContainer-top,
.selector {
	background:$subnavBg;
	margin-top:0;
	height: $subnavHeight;
	min-height: $subnavHeight;
	z-index:100;
}

.selector {
	position: fixed;
	padding:5px;
	width:300px;
	font-size:0.8rem;
	z-index:101;

	#versionSelector {
		height:29px;
		margin-left:1em;
		z-index:1002;
	}
}

.version {
	font-size:0.8rem;
}

.dijitTabContainerTopStrip,
.dijitTabContainerTop-tabs {
	height:$subnavHeight !important;
	.dijitTab {
		margin-top:7px;
		border-bottom:1px solid #ddd;
	}

	.dijitTabChecked {
		border-bottom:1px solid #fff;
		&:before {
			background:$selectedBg;
		}
	}
}

.tabStripButton-top {
	background:darken($subnavBg, 30%);
	height: $subnavHeight !important;


	&:nth-child(1) {
		border-right:1px solid darken($subnavBg, 90%);
	}

	.dijitTabStripIcon {
		color:#fff;
		position: relative;
		top:5px;
	}
}

#main { height: 100%; width: 100%; border: 0; }
#header { margin: 0; }
#loader {
	padding:0;
	margin:0;
	position:absolute;
	top:0; left:0;
	width:100%; height:100%;
	background:#efefef;
	opacity: 0.98;
	z-index:999;
	vertical-align:middle;
}

#loaderInner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	margin-top: -16px;
	margin-left: -16px;
	background-image: url($imgPath+'/loader_lg.gif');
	background-repeat: no-repeat;
}
#printBlock { display: none; }
.spacer { border:0; background-color:#ededed; width:80%; height:1px; }

/*  Override dijit.layout.ContentPane's loadingMessage style. */

#content .dijitContentPaneLoading {
	position: absolute;
	display: block;
	text-indent: -5000px;
	direction: ltr;
	top: 50%;
	left: 50%;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
	margin-top: -12px;
	margin-left: -12px;
	background-image: url($imgPath+"/loader_md.gif");
}

.dijitTabPaneWrapper {
	border-top:0;
	padding:0;
}


#content .dijitTabContainerTop-dijitContentPane {
	min-width:100%;
	padding:0.5em 2em 0 2em;
}

h2.jsdoc-summary-heading {
	cursor: pointer;
	background:$lightBg;
	border-bottom:1px solid darken($lightBg, 10%);
	margin-bottom:0 !important;
	padding:0.5em;

	& + .jsdoc-summary-list {
		background:$lightBg;
	}

	&:hover {
		background: lighten($selectedBg, 90%);
	}

	&.open {
		background:$selectedBg;
		color:$selectedTextColor;
	}

}

h2.jsdoc-summary-heading span {
	display: inline-block;
	width: 16px;
	height: 16px;
	background-image: url($imgPath+"/16x16/collapse-sprite.png");
	background-repeat: no-repeat;
	background-position: -16px 0;
}

h2.jsdoc-summary-heading .closed {
	background-position: 0 0;
}

/* Clear Styling */

pre code {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

#moduleTreePane {
	margin-top:$subnavHeight;
}

#moduleTree {
	width:100%;
	overflow-x:hidden;

	.dijitTreeRow {
		padding:0.5em;
	}
	.dijitTreeRowHover {
		background:lighten($selectedBg, 90%);
		border-color:transparent;
		color:#000;
	}

	.dijitFolderOpened,
	.dijitFolderClosed {
		color:#00A0E6
	}

	.dijitTreeRowSelected {
		background: $selectedBg;
		color: $selectedTextColor;
		border-color:transparent;

		.dijitFolderOpened,
		.dijitFolderClosed,
		.dijitTreeExpando {
			color:#fff;
		}
	}

	.dijitTreeExpando {
		font-family:$iconFont;
  		width: 16px;
  		height: 16px;
  		color:#5B5B5B;
  		font-size:12px;

  		&:before {
  			position:relative;
  			top:3px;
  			left:4px;
  		}
	}

	.dijitTreeExpandoClosed:before {
  		content: '\f0fe';

	}

	.dijitTreeExpandoOpened:before {
  		content: '\f146';
	}

}

#navigation {
	border:0;
	padding-right:0;
	z-index:1;
	.dijitBorderContainerPane {
		overflow-y:auto;
		height:100%;
		z-index:1;
	}
}


.arrayIcon,
.arrayIcon16{ background-image:url($imgPath+'/16x16/array.png'); }
.booleanIcon,
.booleanIcon16{ background-image:url($imgPath+'/16x16/boolean.png'); }
.constructorIcon,
.constructorIcon16{ background-image:url($imgPath+'/16x16/constructor.png'); }
.dateIcon,
.dateIcon16{ background-image:url($imgPath+'/16x16/date.png'); }
.domnodeIcon,
.domnodeIcon16{ background-image:url($imgPath+'/16x16/domnode.png'); }
.errorIcon,
.errorIcon16{ background-image:url($imgPath+'/16x16/error.png'); }
.functionIcon,
.functionIcon16{ background-image:url($imgPath+'/16x16/function.png'); }
.namespaceIcon,
.namespaceIcon16{ background-image:url($imgPath+'/16x16/namespace.png'); }
.numberIcon,
.numberIcon16{ background-image:url($imgPath+'/16x16/number.png'); }
.objectIcon,
.objectIcon16{ background-image:url($imgPath+'/16x16/object.png'); }
.regexpIcon,
.regexpIcon16{ background-image:url($imgPath+'/16x16/regexp.png'); }
.singletonIcon,
.singletonIcon16{ background-image:url($imgPath+'/16x16/singleton.png'); }
.stringIcon,
.stringIcon16{ background-image:url($imgPath+'/16x16/string.png'); }

.icon16{ width: 16px; height: 16px; }

.icon24{ width: 24px; height: 24px; }
.arrayIcon24{ background-image:url($imgPath+'/24x24/array.png'); }
.booleanIcon24{ background-image:url($imgPath+'/24x24/boolean.png'); }
.constructorIcon24{ background-image:url($imgPath+'/24x24/constructor.png'); }
.dateIcon24{ background-image:url($imgPath+'/24x24/date.png'); }
.domnodeIcon24{ background-image:url($imgPath+'/24x24/domnode.png'); }
.errorIcon24{ background-image:url($imgPath+'/24x24/error.png'); }
.functionIcon24{ background-image:url($imgPath+'/24x24/function.png'); }
.namespaceIcon24{ background-image:url($imgPath+'/24x24/namespace.png'); }
.numberIcon24{ background-image:url($imgPath+'/24x24/number.png'); }
.objectIcon24{ background-image:url($imgPath+'/24x24/object.png'); }
.regexpIcon24{ background-image:url($imgPath+'/24x24/regexp.png'); }
.singletonIcon24{ background-image:url($imgPath+'/24x24/singleton.png'); }
.stringIcon24{ background-image:url($imgPath+'/24x24/string.png'); }

.icon36{ width: 36px; height: 36px; }
.arrayIcon36{ background-image:url($imgPath+'/36x36/array.png'); }
.booleanIcon36{ background-image:url($imgPath+'/36x36/boolean.png'); }
.constructorIcon36{ background-image:url($imgPath+'/36x36/constructor.png'); }
.dateIcon36{ background-image:url($imgPath+'/36x36/date.png'); }
.domnodeIcon36{ background-image:url($imgPath+'/36x36/domnode.png'); }
.errorIcon36{ background-image:url($imgPath+'/36x36/error.png'); }
.functionIcon36{ background-image:url($imgPath+'/36x36/function.png'); }
.namespaceIcon36{ background-image:url($imgPath+'/36x36/namespace.png'); }
.numberIcon36{ background-image:url($imgPath+'/36x36/number.png'); }
.objectIcon36{ background-image:url($imgPath+'/36x36/object.png'); }
.regexpIcon36{ background-image:url($imgPath+'/36x36/regexp.png'); }
.singletonIcon36{ background-image:url($imgPath+'/36x36/singleton.png'); }
.stringIcon36{ background-image:url($imgPath+'/36x36/string.png'); }

/* jsdoc styling */
a { color: #47a; }
h1.arrayIcon36,
h1.booleanIcon36,
h1.constructorIcon36,
h1.dateIcon36,
h1.domnodeIcon36,
h1.errorIcon36,
h1.functionIcon36,
h1.namespaceIcon36,
h1.numberIcon36,
h1.objectIcon36,
h1.regexpIcon36,
h1.singletonIcon36,
h1.stringIcon36 {
	padding-left: 40px;
	background-repeat: no-repeat;
	min-height: 36px;
}

span.arrayIcon,
span.booleanIcon,
span.constructorIcon,
span.dateIcon,
span.domnodeIcon,
span.errorIcon,
span.functionIcon,
span.namespaceIcon,
span.numberIcon,
span.objectIcon,
span.regexpIcon,
span.singletonIcon,
span.stringIcon {
	display: inline-block;
	padding-left: 20px;
	background-repeat: no-repeat;
}


/* for /images/icons next to each property and method */
.jsdoc-private, .jsdoc-extension, .jsdoc-inherited {
    display: inline-block;
    width: 16px;
    height: 16px;
    opacity: 0.5;   /* so /images/icons don't stand out so much */
}
.jsdoc-private {
    background-image: url($imgPath+"/16x16/private.png")
}
.jsdoc-extension {
    background-image: url($imgPath+"/16x16/extension.png")
}
.jsdoc-inherited {
    background-image: url($imgPath+"/16x16/inherited.png")
}


/* toolbar, to show/hide private, inherited, and extension properties */
.jsdoc-toolbar {
	background: rgba(#fff,0.9);
	padding: 1em;
	position: fixed;
    right: 0;
   	top: $navHeight + $subnavHeight;
    z-index: 1000;
    font-size:0.8rem;

    .dijitCheckBox {
    	width: 15px;
    	height: 15px;
    }

    .dijitCheckBoxIcon:before, .dijitCheckBoxChecked:before, .dijitCheckBoxCheckedDisabled:before {
		font-size:12px;
		line-height:15px;
    }

	.trans-icon {
		position: absolute;
		top: 4px;
		display: block;
		width: 24px;
		height: 24px;
		cursor: pointer;
	}


	.jsdoc-permalink {
		margin-right:1em;
	}

	.jsdoc-private {
    	background-image: none;     /* done via actual <img> tag instead */
    	right: 28px;
    }

    .jsdoc-extension {
	    background-image: none;     /* done via actual <img> tag instead */
	    right: 52px;
	}

	.jsdoc-public,
	.jsdoc-inherited {
	    background-image: none;     /* done via actual <img> tag instead */
	    right: 4px;
	}

	label {
		position: relative;
    	top: auto;
    	right: auto;
    	cursor: pointer;
    	margin-left: 15px;

    	&:nth-child(1) {
    		margin-left:0;
    	}
	}

	.off {
		opacity: 0.25;
	}

	.jsdoc-permalink {
	    position : initial;
	    top : initial;
	    left : initial;
	    float : left;
	    border : none;
	    width: initial;
	}
}


h1.jsdoc-title{
	font-size: $pageHeadingSize;
	font-weight: $pageHeadingWeight;
	margin: 0.35em 0;
	background-position: 0 45%;
}
h1.jsdoc-title img {
	float: left;
	padding-right: 0.25em;
}

div.jsdoc-prototype,
div.jsdoc-mixins,
.jsdoc-inheritance {
	font-size: 0.8em;
	label {
		margin-right: 1em;
	}
}

div.jsdoc-prototype a,
div.jsdoc-mixins a,
.jsdoc-inheritance a {
	text-decoration: none;
}
div.jsdoc-prototype a:hover,
div.jsdoc-mixins a:hover,
.jsdoc-inheritance a:hover {
	text-decoration: underline;
}
span.jsdoc-inheritance {
	display: inline-block;
	margin-left: 1.5em;
	font-weight: normal;
}
div.jsdoc-require,
span.jsdoc-comment-type,
span.jsdoc-return-type {
	font-family: $codeFont;
	font-weight: normal;
}
span.parameters{ font-weight: normal; }
span.jsdoc-comment-type,
span.jsdoc-return-type {
	color: #963;
}
div.jsdoc-require {
	margin: 1em 0;
}
div.jsdoc-full-summary {
	margin: 1em 0;
}

div.jsdoc-children {
	padding-bottom: 1.5em;
}

div.jsdoc-children div.jsdoc-fields h2 {
	font-size: 2rem;
	font-weight:$pageHeadingWeight;
	font-family:$headingFont;
	color:$baseColor;
}



div.jsdoc-children div.jsdoc-field-list div.jsdoc-field {
	margin: 0.5em 0;
	clear: both;
}
div.jsdoc-children div.jsdoc-fields div.jsdoc-field {
	padding: 1em;
	clear: both;
	border-bottom: 1px dotted #ccc;
}
div.jsdoc-children .odd {
	background-color: #f8f8f8;
}

div.jsdoc-field div.jsdoc-title {
	font-size:1.2rem;
	font-weight: bold;
	margin-bottom:0.5em;
	font-family:$codeFont;

	[class*='Icon'] {
		background-position:0 2px;
	}
}

div.jsdoc-field div.jsdoc-title span img {
	float: left;
	padding-right: 4px;
}

div.jsdoc-field div.jsdoc-return-type {
	font-size: 0.95em;
	padding: 0.25em;
}
.jsdoc-return-description {
    margin-top: 0.5em;
}
.jsdoc-summary {
	margin: 1em 0;
}

table.jsdoc-parameters {
	font-size: 1em;
	width: auto;
	margin: 1em 0;
	border-collapse: collapse;
}
table.jsdoc-parameters th,
table.jsdoc-parameters td {
	padding: 0.25em 0.5em;
	text-align: left;
	vertical-align: top;
	border: 1px solid #999;
}
table.jsdoc-parameters th {
	background-color: #eee;
	font-weight: bold;
}
table.jsdoc-parameters td {
	background-color: #fff;
}
table.jsdoc-parameters .jsdoc-param-description p {
	margin: 0;
}

div.jsdoc-fields .jsdoc-example {
	margin-top: 1em;
}

div.jsdoc-children div.jsdoc-fields .jsdoc-examples {

	h2 {
		color:#000;
		font-size:1.3rem;
		font-weight:400;
	}
}

/* A redo of the summary lists as UL/LI elements */
div.jsdoc-summary-list ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
div.jsdoc-summary-list ul li {
	background-repeat: no-repeat;
	background-position: 0.5em 50%;
	padding:0.5em;
	padding-left: 2em;
	margin: 0.5em 0;

	&:nth-child(1) {
		margin-top:0
	}
}
div.jsdoc-summary-list ul li a {
	font-weight: bold;
	font-family:$codeFont;
}
div.jsdoc-summary-list ul li span {
	font-size:0.9rem;
	margin-left:0.8em;

}
div.jsdoc-summary-list ul li span.parameters {
	font-size: 1em;
	margin-left:0;
	font-family:$codeFont;
}
div.jsdoc-summary-list ul li .jsdoc-returns {
	font-weight: bold;
}

/* The legend listing the meanings of each icon */
ul.jsdoc-legend {
	list-style-type: none;
}

ul.jsdoc-legend img, ul.jsdoc-legend li > span:first-child {
	/* align icon vertically with text; note that /images/icons in second list are <span> nodes */
	vertical-align: middle;
}

.dijitCheckBoxInput {
    cursor : pointer;
}
.viewOptions {
    float: right;
}

.syntaxhighlighter {
	border-top:10px solid #1d1f21 !important;
	border-bottom:10px solid #1d1f21 !important;
	border-radius:4px;

	.bar.show {
		display:none !important;
	}
}

