.community {

	.subTitle {
		margin-bottom:0;
	}

	.support {
		padding-top:0;

		.columns {
			margin-top:0;
		}
		.icon {
			color:$headingColor;
			font-size: 17px
			font-family: $headingFont;
			font-weight: 300;
			margin: 10px 0;

			&:before {
				background-color:#fff;
				height:70px;
			}

			&.stackoverflow:before {
				color:#3698E5;
			}


			&.support:before {
				background: #fff url('images/sprite_sitepen_logo.png') no-repeat 50% 20px;
				background-size: 33px 117px;
				padding-top:4px;
			}

			&:hover {
				&:before {
					background-color: #fff;
					color: $dojoOrange;
				}

				&.support:before {
					background-color: #fff;
					background-position: 50% 20px;
				}
			}


		}
	}

}