.community {

	.communicate {
		text-align: center;

		.soc {
			margin-bottom:2rem;

			.icon {
				font-size:3rem;

				+below(3) {
					font-size:2rem;
				}
			}
		}
	}

	.related {
		.three-up-icons {
			.iconBlock {
				padding:2rem 1rem 2rem 1rem;
			}

			.intern {
				position: relative;
				top:-20px;
				+below(2) {
					top:0;
				}
			}
		}
	}

	.versionsTitle {
		font-size:1.3rem;
		text-align:center;
		margin:1rem;
	}

	.cla {
		padding:1.25rem 0;

		link($dojoRed);

		a {
			font-family:$headingFont;
			font-size:1.1rem;
		}

		.columns {
			padding:2rem;
			text-align: center;
			transition:background 0.3s, color 0.3s;

			&:hover {
				.icon,
				a:link,
				a:hover,
				a:visited,
				p {
					color:#fff;
				}
			}
		}

		.individual:hover {
			background:$dojoOrange;
		}

		.corporate:hover {
			background:$dojoRed;

		}

		.icon {
			display:block;
			font-size:5rem;
			margin-bottom:1rem;
		}
	}
}