.download {
	pre {
		text-align: center;
	}

	.itemIntro {
		font-family: $headingFont;
		font-size:1.25rem;
		font-weight:300;
		text-align: center;
		margin:1.5rem auto 1em auto;
	}

	.button {
		margin-top:0;
	}

}