.download {
	pre {
		text-align: center;
	}

	.itemTitle {
		font-size:1.25rem;
		font-weight:400;
		text-align: center;
		margin:1.5rem auto 1em auto;

		+below(2) {
			font-size:1rem;
			font-weight:bold;
		}
	}

	.cdn {
		.subTitle {
			.icon {
				color: $dojoRed;
				margin-right: 1rem;
			}
		}
	}

	.button {
		margin-top:0;
	}

	.bower {
		position: relative;

		.sectionTitle {

			.bowerLogo {
				height: 50px;
				margin-right: 1rem;
			}
		}

		.install {
			margin:3rem auto;
		}

		.techNote {
			font-size:0.9em;
			text-align: center;
			margin-bottom:2rem;
		}

		.filename {
			background:#fff;
			border-radius:4px;
			border:1px solid $lightBorder;
			font-family: $codeFont;
			padding:0.5em 1em;
		}

		.bash,
		.bash *,
		.json {
			color: $dojoYellow !important;
		}

		.json {
			text-align: left;
			padding:1em;
		}
	}

	.downloads {
		position: relative;

		.iconBlock {
			padding-top:1rem;
			padding-bottom:1em;

			.multi {

				link($dojoRed);
				padding:0.7em 0;

				a:first-child {
					margin-right:1em;
				}
				text-align:center;
				font-size:0.9rem;
			}
		}
	}

	.gh {
		text-align: center;

		link($softBlack);

		.icon {
			font-size:10rem;

			&:hover {
				color:$githubColor;
			}
		}
	}

	.anchor {
		position: absolute;
	}

	.cdnAnchor {
		top: 40px;
	}

	.bowerAnchor {
		top: -105px;
	}

	.downloadAnchor {
		top: -105px;
	}

	@media (max-width: 750px) {
		.cdnAnchor {
			top: 115px;
		}

		.bowerAnchor {
			top: -160px;
		}

		.downloadAnchor {
			top: -125px;
		}
	}
}