.download {
	pre {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 80%;
	}

	.codeBlockWithTitle {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		pre {
			width: 100%;
		}
	}

	+below(2) {
		pre,
		.codeBlockWithTitle {
			width: 100%;
		}
	}

	.itemTitle {
		font-size:1.25rem;
		font-weight:400;
		text-align: center;
		margin:1.5rem auto 1em auto;

		+below(2) {
			font-size:1rem;
			font-weight:bold;
		}
	}

	.cdn {
		.subTitle {
			.icon {
				color: $primaryColor;
				margin-right: 1rem;
			}
		}

		.nextStep {
			color:$secondaryColor;
			margin-top:2.5rem;
		}
	}

	.button {
		margin-top:0;
	}

	.techNote {
		font-size:0.9em;
		text-align: center;
		margin-bottom:2rem;
	}

	.bower {
		position: relative;

		.sectionTitle {

			.bowerLogo {
				height: 50px;
				margin-right: 1rem;
			}
		}

		.install {
			margin:3rem auto;
		}


		.filename {
			background:#fff;
			border-radius:4px;
			border:1px solid $lightBorder;
			font-family: $codeFont;
			padding:0.5em 1em;
		}

		.bash,
		.bash *,
		.json {
			color: $dojoYellow !important;
		}

		.json {
			text-align: left;
			padding:1em;
		}
	}

	.downloads {
		position: relative;

		.iconBlock {
			padding-top:1rem;
			padding-bottom:1em;

			.multi {

				link($primaryColor);
				padding:0.7em 0;

				a:first-child {
					margin-right:1em;
				}
				text-align:center;
				font-size:0.9rem;
			}
		}

		.itemTitle {
			margin-top:3rem;
		}
	}

	.gh {
		text-align: center;

		link($softBlack);

		.icon {
			font-size:10rem;

			&:hover {
				color:$githubColor;
			}
		}
	}
}