@import url('/css/fonts/icomoon_icons/style.css');
@import '../vendor/tomorrow-night-bright-pygment.css';
@import '../common';
@import '../partials';
@import '../header';

.refguide {


    .section {
        padding-top:0;
    }

    .row {
        width:90%;
        max-width:$maxWidth;
    }

    .row.footer {
        width:100%;
        max-width:100%;
    }

	.content {
		padding-top: 2em;
	}

    .headerlink {
        display: none;
    }

    .document + .row {
        padding-bottom:2em;
    }

    .subnav input[type="text"] {
        border-radius:8px;
        border:0;
        padding:0.25em;
    }

    h1, h2, h3, h4 {
        a:link, a:hover {
            color: $headingColor;
        }
    }

    h1 {
        font-size:$pageHeadingSize;
        font-weight:$pageHeadingWeight;
        margin:0;

        +below(3) {
            font-size:($pageHeadingSize * $scaleBelow2)
        }
    }

    h2 {
        margin:2rem 0 1.25rem 0;
        line-height:normal;
        display:block;
        box-sizing:border-box;
    }

    h3 {
        font-size: 1.5rem;

        & + .CodeGlassMini {
            margin-bottom: 2em;
        }
    }

    h4 {
        font-size: 1.2rem;
        margin-bottom:0;
    }

    .highlight {
        background: $codeBg;
        padding: 1em;
        overflow:auto;
        border-radius:4px;
        margin-bottom:1.5em;

        pre {
            background:transparent;
            overflow:hidden;
        }
    }



    li {
        p {
            line-height:1.3;
            padding:0;
            margin:0;

            &.first {

                & + p {
                    padding:0.5rem 1rem;
                }
            }
        }

        ul {
            padding-left:1rem;
        }
    }

    .contents {
        display:none;
    }


    &.claro {

        .dijitDialog {
            border:3px solid rgba($lightBg, 0.7);
            border-radius:4px;
            box-shadow: 0 0 3px 5px rgba($softBlack, 0.2);

            .dijitDialogTitleBar {
                background:$dojoRed;
                border:0;

                .dijitDialogTitle {
                    color: #fff;
                    font-family: $headingFont;
                }
            }
            .dijitDialogPaneContent {
                border:0;
            }
        }


        .dijitDialogUnderlay {
            background-color:$softBlack;
        }
    }


    +below(3) {
        font-size:18px;

        .content {
            width:100%;
        }
    }

}


.feedback {

}

.CodeGlassMini {
    position:relative;

    &.closed {
        background:#f8f8f8;

        .CodeGlassMiniInner {
            display:none;
            &:before {
                content:"Example Code";
            }
        }
    }

    .CodeGlassMiniInner {
        margin-top: 10px;
    }

    & + .CodeGlassMini {
        margin-top:15px;
    }

    .CodeGlassMiniRunner,
    .CodeGlassMiniRawHtml,
    .CodeGlassMiniCollapser {
        button($dojoGreen, #fff, lighten($dojoGreen, 10%), #fff);
        margin: 0 10px 10px 0;
        padding-top:0.25em;
        padding-bottom:0.25em;

        & > span {
            padding: 6px;
            color:#fff;

            &:before {
                content: '';
                display:inline-block;
                font-family:'icomoon_icons';
                font-size:1em;
                margin-right:0.5em;
                vertical-align: middle;
            }
        }
    }

    .CodeGlassMiniRawHtml {
        button($dojoRed, #fff, $dojoRed, #fff)
        padding-top:0.25em;
        padding-bottom:0.25em;
    }

     .CodeGlassMiniRunner > span:before {
        content:'\e602';
    }

    .CodeGlassMiniRawHtml > span:before {
        content:'\e601';
    }

    .CodeGlassMiniCollapser {
        display: none;
    }

    pre {
        overflow:auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }

    .CodeGlassMiniRaw {
        display:none;
    }
}

.wikidocs .highlight + .CodeGlassMiniRaw + .highlight,
.wikidocs .highlight + .CodeGlassMiniRaw + .highlight + .CodeGlassMiniRaw + .highlight {
    margin-top:1em;
}

.live-example {
    position:relative;

    .inner {
        padding:5px 15px;
        border-left:1px dotted #666;
        background-color:#f8f8f8;
    }

    a {
        position:absolute;
        left:-20px;
        top:0;
    }

    .closed {
        display:none;
    }
}

.preview > .document{
    background-color: #FCFFC7;
    background-transparency: none;
}

.section {
    padding-bottom:0;


    .section {
        padding:0;
    }

    blockquote {
        color: #222222;
        line-height: 125%;
        font-style: normal;
        p {
            &:before {
                content: '';
                margin-left: 0;
            }
            &:after {
                content: '';
                height: 0;
            }
        }
    }
    li em,
    a em {
        font-style: normal;
    }

    li em {
        font-weight: bold;
    }

    tt,
    p > code{
        font-family: $codeFont;
    }

    .required {
        font-weight: bold;
    }

    .optional {
       font-size: 1em;
        font-style: italic;;
    }

    .footnote-reference {
        font-size: 90%;
    }
}

table.docutils {
	codeTable();
}

.field-list {

    th {
	   text-align: left;
    	background-color: #f7f7f8;
    	background: #f7f7f8;
    	border-right: 2px solid #E6E6E7 !important;
    	padding-right: 6px;
    }
    td {
        padding-left: 6px;
    }

}


#searchbox {
    form {
	   margin-left: 15px;
    }
    .searchtip {
        margin-top: 10px;
        margin-left: 5px;
        color: #333333;
    }
}


#toc {
    position:fixed;
    font-size: 0.9rem;
    margin:1rem 0 2rem 2rem;
    transition: transform 0.3s;
    top: $navHeight + $subnavHeight;


    &:after {
        content:'';
        display:block;
        clear: both;
    }

    h3 {
        font-weight:300;
        margin:1em 0 0.5em 0;
    }

    .tocList {
        border-left:5px solid $lightBg;
        max-width:300px;
        overflow-y:auto;
        font-family:$headingFont;
    }

    ul {
        margin: 0.25em 0;
        padding-left: 1em;

        li {
            list-style-type: none;
            margin:0;
            padding: 0.25em 0;
        }
    }

    +below(3) {
        display:none;
    }
}

.scrolled {
    #toc {
        transform: translate(0,-30px);

        .tocList {
            max-height: 85vh;
        }
    }
}