@import url('/css/fonts/icomoon_icons/style.css');
@import '../vendor/tomorrow-night-bright-pygment.css';
@import '../common';


.refguide {

    .row {
        max-width:90%;

        &.full {
            max-width:100%;
        }
    }

	.content {
		padding-top: 2em;
	}

    main {
        padding-top: $navHeight + $subnavHeight;
    }

    .headerlink {
        display: none;
    }

    .document + .row {
        padding-bottom:2em;
    }

    .subnav input[type="text"] {
        border-radius:8px;
        border:0;
        padding:0.25em;
    }

    h1, h2, h3, h4 {
        a:link, a:hover {
            color: $headingColor;
        }
    }

    h1 {
        font-size:$pageHeadingSize;
        font-weight:$pageHeadingWeight;
        margin:0;
    }

    h2 {
        margin:3rem 0 1.25rem 0;
        line-height:normal;
        display:block;
        box-sizing:border-box;
    }

    h3 {
        font-size: 1.5rem;
        margin-bottom:0;
    }

    h4 {
        font-size: 1.2rem;
        margin-bottom:0;
    }

    .highlight {
        padding: 1em;
        background: #23241f;
        overflow:auto;

        pre {
            overflow:hidden;
        }
    }

    .contents {
        display:none;
    }
}


.feedback {
    padding:2em 0;
}

.CodeGlassMini {
    position:relative;

    &.closed {
        background:#f8f8f8;

        .CodeGlassMiniInner {
            display:none;
            &:before {
                content:"Example Code";
            }
        }
    }

    .CodeGlassMiniInner {
        margin-top: 10px;
    }

    & + .CodeGlassMini {
        margin-top:15px;
    }

    .CodeGlassMiniRunner,
    .CodeGlassMiniRawHtml,
    .CodeGlassMiniCollapser {
        button($dojoGreen, #fff, lighten($dojoGreen, 10%), #fff);
        margin: 0 10px 10px 0;

        & > span {
            padding: 6px;
            color:#fff;

            &:before {
                content: '';
                display:inline-block;
                font-family:'icomoon_icons';
                font-size:1em;
                margin-right:0.5em;
                vertical-align: middle;
            }
        }
    }

    .CodeGlassMiniRawHtml {
        button($dojoRed, #fff, $dojoOrange, #fff)
    }

     .CodeGlassMiniRunner > span:before {
        content:'\e602';
    }

    .CodeGlassMiniRawHtml > span:before {
        content:'\e601';
    }

    .CodeGlassMiniCollapser {
        display: none;
    }

    pre {
        overflow:auto;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -pre-wrap;
        white-space: -o-pre-wrap;
        word-wrap: break-word;
    }

    .CodeGlassMiniRaw {
        display:none;
    }
}

.wikidocs .highlight + .CodeGlassMiniRaw + .highlight,
.wikidocs .highlight + .CodeGlassMiniRaw + .highlight + .CodeGlassMiniRaw + .highlight {
    margin-top:1em;
}

.live-example {
    position:relative;

    .inner {
        padding:5px 15px;
        border-left:1px dotted #666;
        background-color:#f8f8f8;
    }

    a {
        position:absolute;
        left:-20px;
        top:0;
    }

    .closed {
        display:none;
    }
}

.preview > .document{
    background-color: #FCFFC7;
    background-transparency: none;
}

.section {

    blockquote {
        color: #222222;
        line-height: 125%;
        font-style: normal;
        p {
            &:before {
                content: '';
                margin-left: 0;
            }
            &:after {
                content: '';
                height: 0;
            }
        }
    }
    li em,
    a em {
        font-style: normal;
    }

    li em {
        font-weight: bold;
    }

    tt,
    p > code{
        font-family: $codeFont;
    }

    .required {
        font-weight: bold;
    }

    .optional {
       font-size: 1em;
        font-style: italic;;
    }

    .footnote-reference {
        font-size: 90%;
    }
}

.docutils {
	border-collapse:collapse;
	margin: 20px 0;

    th {
        text-align:center;
        font-size:14px;
        padding:3px 6px;
        background-color: #DDDDDD;
        background: #fdfdfd;
        background: -moz-linear-gradient(top, #fdfdfd 0%, #f0f0f0 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f0f0f0));
        background: -webkit-linear-gradient(top, #fdfdfd 0%,#f0f0f0 100%);
        background: -o-linear-gradient(top, #fdfdfd 0%,#f0f0f0 100%);
        background: -ms-linear-gradient(top, #fdfdfd 0%,#f0f0f0 100%);
        background: linear-gradient(top, #fdfdfd 0%,#f0f0f0 100%);
        border: 1px solid #E6E6E7;
        color: #333333;
        text-shadow: 0 1px 0 rgba(255,255,255,.9);
    }
    td {
        font-size:14px;
        padding:3px;
        vertical-align: top;
    }
    .first {
        font-weight: normal;
        margin-top: 0;
    }
}

.field-list {

    th {
	   text-align: left;
    	background-color: #f7f7f8;
    	background: #f7f7f8;
    	border-right: 2px solid #E6E6E7 !important;
    	padding-right: 6px;
    }
    td {
        padding-left: 6px;
    }

}


#searchbox {
    form {
	   margin-left: 15px;
    }
    .searchtip {
        margin-top: 10px;
        margin-left: 5px;
        color: #333333;
    }
}


#toc {
    float: right;
    font-size: 0.9rem;
    margin:2rem 0 2rem 2rem;

    &:after {
        content:'';
        display:block;
        clear: both;
    }

    h3 {
        font-weight:300;
        margin:2em 0 0.5em 0;
    }

    .tocList {
        border-left:5px solid $lightBg;
        max-width:300px;
    }

    ul {
        margin: 0.25em 0;
        padding-left: 1em;

        li {
            list-style-type: none;
            margin:0;
            padding: 0.3em 0;
        }
    }
}