.home {
	main {
		padding:0;
	}

	.nav {
		background:#fff;
		color: $baseColor;
		position:relative;
		transition: none;

		&.shrink {
			height: $navHeight;

			.menuItems li a {
				color: $baseColor;
			}

			.row {
				padding-top: ($navHeight / 2.5);
			}
		}

		.navLogo {
			color: $baseColor;
		}

		.menuItems {
			li {
				a {
					color:$baseColor;
				}
			}
		}

		.mobileMenuToggle {
			color: $baseColor;
		}

		.mobileHeader {
			background:lighten($softBlack, 10%);
		}
	}

	.section {
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.sectionTitle {
		color:$dojoOrange;
		font-size: 2rem;
		text-align:center;
		text-transform: uppercase;
	}

	.heading {
		background-color:$dojoRed;
		dojoGradient();

		color: #fff;
		padding:3rem 0 1.5rem 0;
		text-align: center;

		h1,
		h2 {
			color: #fff;
			font-size: 4.5rem;
			font-weight:300;
			margin:0 0 1rem 0;
		}

		h2 {
			font-size: 1.25rem;
			margin-top: 2rem;
		}

		.tagline {
			display: block;
			font-size: 1rem;
		}

		.button {
			button(transparent, #fff, #fff, $dojoRed);
			border:2px solid #fff;
			font-size:1rem;
			padding:1em 4em;
			margin:3em 0;
		}
	}

	.news {
		background:$softBlack;
		color: #fff;
		padding:2rem;
		position:relative;
		text-align: center;

		.sectionTitle {
			margin:0 0 1rem 0;
			font-size:1.5rem;
		}

		.newsItem {

			p {
				margin:0;
				padding:0;
				link($dojoOrange);
			}
		}
	}

	.trusted {
		background: $lightBg;
		text-align: center;
		padding:2em;

		[class^="company-"] {
			color:$softBlack;
			display:inline-block;
			font-size:3em;
		}

		.sectionTitle {
			font-size:1.5rem;
			font-weight:300;
			margin:0 0 1rem 0;
			text-transform: uppercase;
		}

	}


	.three-up-icons {
		.iconBlock {
			padding-top:6em;

			&:hover {
				* {
					color: #fff !important;
				}

				&.guide {
					background-color: $guideHoverBg;
				}

				&.tutorials {
					background: $tutorialsHoverBg;
					.sectionTitle {
						opacity:0;
					}
				}

				&.api {
					background: $apiHoverBg;
				}

				[class^="icon-"],
				.iconLink {
					transform: translate(0,-5px);

				}
			}
		}
	}

	.support {
		background: $lightBg;
	}
}