.home {
	main {
		padding:0;
		padding-top:$navHeight;

	}

	.nav {
		background:#fff;
		color: $baseColor;
		position: absolute;
		top:0;
		left:0;

		.navLogo {
			color: $baseColor;
		}

		.menuItems {
			li {
				a {
					color:$baseColor;
				}
			}
		}
	}

	.sectionTitle {
		color:$dojoOrange;
		font-size: 2rem;
		text-align:center;
		text-transform: uppercase;
	}

	.heading {
		dojoGradient();

		color: #fff;
		padding:3rem 0 1.5rem 0;
		text-align: center;

		h1,
		h2 {
			color: #fff;
			font-size: 4.5rem;
			font-weight:300;
			margin:0 0 1rem 0;
		}

		h2 {
			font-size: 1.25rem;
			margin-top: 2rem;
		}

		.tagline {
			display: block;
			font-size: 1rem;
		}

		.button {
			button(#fff, $dojoRed, $softBlack, $dojoOrange);
			font-size:1rem;
			padding:1em 4em;
			margin:3em 0;
		}
	}

	.trusted {
		background: $lightBg;
		text-align: center;
		padding:2em;

		[class^="company-"] {
			color:$softBlack;
			display:inline-block;
			font-size:3em;
		}

		.sectionTitle {
			font-size:1.25rem;
			font-weight:400;
			margin-top:0;
			text-transform: uppercase;
		}


	}

	.news {
		background:$softBlack;
		color: #fff;
		max-width:100%;
		position:relative;
		text-align: center;

		.newsItem,
		.title {
			padding:3rem 2rem;
		}

		.title {
			background:lighten($softBlack, 10%);
			color:$dojoOrange;
			height:100%;
			margin:0;
			position:absolute;
			left:0;
			top:0;
			text-align:center;
			text-transform:uppercase;
		}

		.newsItem {

			p {
				margin:0;
				padding:0;
				link($dojoOrange);
			}
		}
	}

	#docs {

		.sectionTitle {
			margin-top:0.75em;
		}

		.doc {
			padding:6rem 2rem;
			text-align: center;
			transition: background-color 0.8s;

			[class^="icon-"] {
				display:block;
				color:$dojoRed;
				font-size:5rem;
				position: relative;
				text-decoration:none;
				transition: 0.4s ease-in-out;
			}

			.docLink {
				color:$dojoOrange;
				font-size: 1.2rem;
				font-weight:400;
				margin-top:1em;
				position: relative;
				text-transform:uppercase;
				link($dojoOrange);
				transition: 0.4s ease-in-out;

				a {
					display:block;
				}
			}

			p {
				font-size:0.9rem;
				margin:0 auto;
				max-width:80%;
			}


			&:hover {
				background-color: $dojoRed;

				* {
					color: #fff !important;
				}

				&.tutorials {
					background: #FC494A;
					.sectionTitle {
						opacity:0;
					}
				}

				&.guide {
					background: $dojoOrange;;
				}

				[class^="icon-"],
				.docLink {
					transform: translate(0,-5px);

				}
			}
		}
	}

	.tutorials {
		position: relative;

		.sectionTitle {
			position:absolute;
			left:0;
			right:0;
			top:0;
			opacity:1;
			transition: opacity 0.4s;
		}
	}
}