.roadmap {
	.glance {
		padding-bottom: 3em;

		.columns {
			margin: 0 auto;
		}

		.icon {
			text-align: center;

			&:before {
				color: $dojoRed;
				content: '';
				display:block;
				font-family: 'icomoon_icons';
				font-size: 48px;
				height: 70px;
				margin:0 auto 10px auto;
				padding-top:5px;
			}


			&.fall:before {
				content: '\e607';
				font-size: 34px;
				position: relative;
				top: 10px;
			}

			&.modular:before {
				content: '\e608';
			}

			&.typescript:before {
				content: '\e604';
				color: $dojoBlue;
				font-size: 34px;
				position: relative;
				top: 10px;
			}

			&.modern:before {
				content: '\e5eb';
			}

			&.github:before {
				content: '\f00a';
				color: $dojoBlue;
			}
		}

		.icon {
			font-size: 20px
			font-family: $headingFont;
			font-weight: 300;
			margin: 10px 0;
		}

		.description {
			line-height: 20px;
			font-size: 13px;
			text-align: center;
		}
	}

	.action {
		text-align: center;

		.button {
			button($dojoRed, #FFF, $dojoRed, #FFF);
			border:2px solid $dojoRed;
			font-size:1rem;
			padding:1em 4em;
			font-weight: normal;
			margin: 0 auto 110px 0;
		}
	}

	#packages {
		position: relative;
		top: -125px;
	}

	.status {
		background:$lightBg;
		font-family: $headingFont;
		text-align: center;
		padding-top: 2.5em;

		.progress {
			border-radius: 3px;
			overflow hidden;
			border: 1px solid #C3C3C3;
			margin-bottom: 40px;

			.iconRow {
				padding: 20px 0;

				.icon-github {
					color: $dojoBlue;
				}
			}

			.step {
				font-size: 16px;
 				font-weight: 300;
 				display: inline-block;
 				vertical-align: top;

				.icon {
					font-size: 50px;
				}
			}

			.title {
				font-size: 0.8rem;
				display: block;
				line-height: 12px;
				text-transform: uppercase;
			}

			.value {
				font-size: 3rem;
			}

			.planning,
			.dev,
			.complete {
				padding-top: 10px;
				background: $lightBg;
				border-bottom: 5px solid
			}

			.planning,
			.dev {
				border-right: 1px solid darken($lightBg, 10%);
			}

			.planning {
				color: $dojoOrange;
			}

			.dev {
				color: $dojoBlue;
			}

			.complete {
				color: $dojoGreen;
			}
		}

		.packageList {
			& > .row {
				padding-top: 0.9375em;
				padding-bottom: 0.9375em;

				.columns {
					&:nth-child(1) {
						padding-left:0;
					}

					&:nth-child(2) {
						padding-right:0;
					}
				}
			}

			.package {
				background: #fff;
				box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.21);
				border-radius: 3px;
				text-align: left;

				.content {
					padding: 20px;
				}

				.title {
					font-size: 26px;
					font-weight: 300;
					font-family: $headingFont;
					color: $dojoBlue;
					margin-bottom: 10px;
				}

				.description {
					font-size: 14px;
					line-height: 21px;
					font-family: $bodyFont;
				}

				.taskbar {
					background: $lightBg;
					padding: 15px;
					position: relative;
					text-align: right;

					.controls {
						position: absolute;
						top: 0;
						left: 0;
					}
				}

				.icon {
					padding: 15px;
					border-right: 1px solid darken($lightBg, 10%);
					color: $dojoBlue;
					display: inline-block;

					&:before {
						font-size: 25px;
					}

					&.icon-spec:after,
					&.icon-github:after {
						font-family: $headingFont;
						display: inline-block;
						vertical-align: top;
						position: relative;
						top: 6px;
						margin-left: 10px;
						font-weight: bold;
					}

					&.icon-spec:after {
						content: 'SPEC';
					}

					&.icon-github:after {
						content: 'CODE';
					}

					&.disabled {
						color: #AAA;

						&:after {
							display: none;
						}
					}
				}

				&.planning .label {
					color: $dojoOrange;
				}

				&.dev .label {
					color: $dojoBlue;
				}

				&.complete .label {
					color: $dojoGreen;
				}
			}
		}
	}

	.help {
		padding-top: 100px;
	}
}