.roadmap {

	.subTitle {
		margin: 1rem 0 0 0;
	}

	.sectionSubTitle {
			font-weight:300;
	}

	.section {
		padding-bottom: 2em;
	}

	.glance {
		.columns {
			margin: 1em auto;
		}

		.icon {
			text-align: center;

			&:before {
				color: $dojoRed;
				content: '';
				display:block;
				font-family: 'icomoon_icons';
				font-size: 48px;
				height: 70px;
				margin:0 auto 10px auto;
				padding-top:5px;
			}


			&.fall:before {
				content: '\e607';
				font-size: 34px;
				position: relative;
				top: 10px;
			}

			&.modular:before {
				content: '\e608';
			}

			&.typescript:before {
				content: '\e604';
				color: $dojoBlue;
				font-size: 34px;
				position: relative;
				top: 10px;
			}

			&.modern:before {
				content: '\e5eb';
			}

			&.github:before {
				content: '\f00a';
				color: $dojoBlue;
			}
		}

		.icon {
			font-size: 20px
			font-family: $headingFont;
			font-weight: 300;
			margin: 10px 0;
		}

		.description {
			line-height: 20px;
			font-size: 13px;
			text-align: center;
		}
	}

	.action {
		text-align: center;

		.button {
			button($dojoRed, #FFF, $dojoRed, #FFF);
			border:2px solid $dojoRed;
			font-size:1rem;
			padding:1em 4em;
			margin:0 0 3rem 0;
		}
	}

	.status {
		font-family: $headingFont;
		text-align: center;
		padding-top:2em;

		.progress {
			border-radius: 3px;
			overflow hidden;
			border: 1px solid $lightBorder;
			margin: 2rem auto 3rem auto;

			.iconRow {
				background:#fff;
				padding: 2rem 0 1rem 0;
			}

			.step {
				font-size: 16px;
 				font-weight: 300;
 				display: inline-block;
 				position: relative;
 				vertical-align: top;

				.icon {
					font-size: 3rem;

					&.icon-round {
						font-size:2.5rem;
						position: relative;
						top: 7px;
					}

					&.icon-chat {
						font-size:3.5rem;
						position: relative;
						top: -6px;

						& + span {
							position: relative;
							top: -6px;
						}
					}
				}
			}

			.hasNext {
				position: relative;

				.next {
					font-size: 1.5rem;
					position: absolute;
					right: -20px;
					top: 30%;
				}
			}

			.title {
				font-size: 0.8rem;
				display: block;
				line-height: 12px;
				text-transform: uppercase;
			}

			.value {
				font-size: 3rem;
			}

			.planning,
			.dev,
			.complete {
				padding-top: 10px;
				background: $lightBg;
				border-bottom: 5px solid
			}

			.planning,
			.dev {
				border-right: 1px solid darken($lightBg, 10%);
			}

			.planning {
				color: $dojoOrange;
			}

			.dev {
				color: $dojoBlue;
			}

			.complete {
				color: $dojoGreen;
			}
		}

		.packageList {
			& > .row {
				padding-top: 0.9375em;
				padding-bottom: 0.9375em;

				.columns {
					&:nth-child(1) {
						padding-left:0;
					}

					&:nth-child(2) {
						padding-right:0;
					}
				}
			}

			.package {
				background: #fff;
				box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.21);
				border-radius: 3px;
				text-align: left;

				.content {
					padding: 20px;
				}

				.title {
					font-size: 26px;
					font-weight: 300;
					font-family: $headingFont;
					margin-bottom: 10px;

					link($dojoBlue)

					.disabled,
					.disabled:hover {
						cursor:default;
						color: $headingColor;
					}
				}

				.description {
					font-size: 0.9rem;
					line-height: 21px;
					font-family: $bodyFont;
				}

				.taskbar {
					background: $lightBg;
					font-size: 0.9rem;
					padding: 15px;
					position: relative;
					text-align: right;

					.controls {
						position: absolute;
						top: 0;
						left: 0;

						link($dojoBlue);

						.icon {
							padding: 13px 15px;
							border-right: 1px solid darken($lightBg, 10%);

							display: inline-block;

							&:before {
								font-size: 25px;
							}

							&.icon-spec:after,
							&.icon-github:after {
								font-family: $headingFont;
								display: inline-block;
								vertical-align: top;
								position: relative;
								top: 6px;
								margin-left: 10px;
								font-weight: bold;
							}

							&.icon-spec:after {
								content: 'SPEC';
							}

							&.icon-github:after {
								content: 'CODE';
							}
						}

						.disabled {
							cursor: default;
							.icon {
								color: #AAA;

								&:after {
									display: none;
								}
							}
						}
					}

					.tag {
						text-transform: uppercase;
					}
				}



				&.planning .tag {
					color: $dojoOrange;
				}

				&.dev .tag {
					color: $dojoBlue;
				}

				&.complete .tag {
					color: $dojoGreen;
				}
			}
		}
	}
}