@import '../vendor/tomorrow-night-bright.css'

.tutorial {

	.content {
		padding-top:2em;
	}

	iframe + p {
		margin-top: 1em;
	}

	pre {
		code {
			background: $codeBg;
			color: #f8f8f2;
			display: block;
			font-family: $codeFont;
			overflow-x: auto;
			padding: 1em;
		}
	}

	h2 {
		font-size:$pageHeadingSize;
		font-weight:$pageHeadingWeight;
		margin:0;
	}

	h3 {
		font-size:2rem;
	}

	.difficulty {
		span {
			font-weight:bold;

			&:nth-child(2) {
				margin-left:2rem;
			}
		}
	}
}

// Main Index page
.tutorials {
	.docsLeadin {
		.doc {
			padding-top:1.5rem;
		}
	}
}
