@import '../vendor/tomorrow-night-bright.css'
@import '../../scripts/dojo/dijit/themes/dijit.css'
@import '../vendor/dojo_flat/dojo/layout/TabContainer'


// Main Index page
.tutorials {
	.docsLeadin {
		.doc {
			padding-top:1.5rem;
		}
	}

	.cardGrid {

		.card {
			&.hide {
				display:none;
			}

			.tag {
				color: #9B9B9B;
			}
		}

		.section {
			padding-top:0;
		}

		.sectionTitle {

			&.getting-started:before {
				content: $icon_gettingStarted;
			}
			&.modules:before {
				content: $icon_modules;
			}
			&.dom-basics:before {
				content: $icon_domBasics;
			}
			&.fundamentals:before {
				content: $icon_fundamentals;
			}
			&.widgets:before {
				content: $icon_widgets;
			}
			&.working-with-data:before {
				content: $icon_workingWithData;
			}
			&.mobile:before {
				content: $icon_mobile;
			}
		}
	}

	.tutorialsMenu {
		li {
			&:first-child {
				display:none;
			}
		}
	}

	#tutorials {
		padding-top:0;

		.pageTitle {
			color:$dojoOrange;
			font-size:42px;
			margin:0 auto 0 auto;
			padding-top:2.5rem;
		}
	}
}


// Sub Menu
.tutorialMenuContainer {
	background: $lightBg;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
	text-align: center;
	padding:0.8rem 0 0.25rem 0;

	.row {
		max-width:$maxWidth;
	}

	+below(3) {
		display:none;
	}
}

.tutorialsMenu {
	display:inline-block;
	margin: 0 auto;
	width: 100%;
	max-width:$maxWidth;
	text-align: center;

	li {
		link($dojoOrange);
		text-align: center;
		font-family:$headingFont;
		font-size:0.9rem;
		margin:0 1% 0 0;
		text-transform: uppercase;
		min-width:63px;
		width:13%;

		a {
			transition: font-size 0.3s;
		}

		.icon {
			color: $softBlack;
			display:block;
			font-size: 2rem;
			margin-bottom:0.8rem;
			transition: color 0.3s, font-size 0.3s;

		}

		&:hover {
			.icon {
				color:$dojoRed;
			}
		}
	}
}

//Single tutorial view
.tutorial {

	.content {
		padding-top:3em;

		+below(4) {
			padding:2em;
		}
	}


	iframe + p {
		margin-top: 1em;
	}

	a code {
		color:$linkColor;
	}

	pre {

		code {
			background: $codeBg;
			color: #f8f8f2;
			display: block;
			font-family: $codeFont;
			overflow-x: auto;
			padding: 1em;
		}
	}

	ol,
	ul {
		li {
			margin-bottom:1.5rem;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		code {
			background:none;
			border:0;
			padding:0;
		}
	}

	h2 {
		font-size:$pageHeadingSize;
		font-weight:$pageHeadingWeight;
		margin:0;
		transition:font-size 0.3s;
		code {
			font-size: $pageHeadingSize;
		}

		+below(4) {
			font-size:($pageHeadingSize * $scaleBelow2);
		}
	}

	h3 {
		font-size:2rem;

		code {
			font-size:2rem;
		}
	}

	h4 {
		font-size:1.3rem;
		code {
			font-size:1.3rem;
		}
	}

	.difficulty {
		span {
			font-weight:bold;

			&:nth-child(2) {
				margin-left:2rem;
			}
		}
	}

	table {
		codeTable();
	}

	.subnav {
		height: auto;
		text-align:center;

		.columns {
			padding:0;
		}

		.tutorialsMenu {
			margin: auto 0;

			li {
				width:12.5%;

				margin:0;
				padding:0;


				.icon {
					font-size:1.7rem;
					margin-bottom:0.5rem;
				}
			}
		}

		+below(4) {
			.tutorialsMenu {
				li {
					a:link {
						font-size:0.75rem;
					}

					.icon {
						font-size:1.2rem;
					}
				}
			}
		}
	}

	.proTip,
	blockquote {
		background:$proTipBg;

		border-left:4px solid $dojoOrange;
		line-height:1.8;
		padding:1rem;
		margin:1rem;

		p {
			margin:0;

			& + p {
				margin-top:1rem;
			}
		}

	}

	dl {
		dt {
			font-weight:bold;
		}
		dd {
			margin:0.5rem 0 2rem 1rem;
		}
	}

	.button,
	.demoBtn {
		button($dojoGreen, #fff);
		margin-bottom:1.5rem;
		font-size:0.9rem;
		text-transform:capitalize;
	}


	.dijitTabContainerTopStrip,
	.dijitTabContainerTop-tabs {
		padding-left:2px;
		.dijitTab {
			margin-top:7px;
			border-bottom:1px solid #ddd;
		}

		.dijitTabChecked {
			border:1px solid $lightBorder;
			border-bottom:1px solid #fff;
			&:before {
				background:$selectedBg;
			}
		}
	}

	[id*='example'] {
		.dijitTabPaneWrapper {
			border:1px solid $lightBorder;
			background:$codeBg;

			.dijitTabContainerTopChildWrapper {
				background:white;
				padding:4px;
			}

			pre {
				background:$codeBg;
				border:0;
				margin:0;
				padding:0;

				code {
					border:0;
				}
			}
		}

	}
}