@import '../vendor/tomorrow-night-sh.css'
@import '../../scripts/syntaxhighlighter/css/shCore.css'
@import '../../scripts/dojo/dijit/themes/dijit.css'
@import '../vendor/dojo_flat/dojo/layout/TabContainer'
@import '../variables'

//Old archived tutorials
.archive {

	.archiveVer {
		background:lighten($dojoYellow, 80%);
		border:1px solid $dojoYellow;
		padding:0 1em;
		margin:1em 0;
	}

	.syntaxhighlighter {
		background:#1D1F21 !important;
		padding:1em !important;

		border-top:10px solid #1D1F21 !important;
		border-bottom:10px solid #1D1F21 !important;
		border-radius:4px;

		*::selection {
			background:$dojoBlue !important;
			color:#fff !important;
		}

		.bar.show {
			display:none !important;
		}

		.plain {
			color:#f8f8f2 !important;
		}

		.line .number {
			display:none !important;
		}
	}
}
