@import '../vendor/tomorrow-night-bright.css'

.tutorial {


	.content {
		padding-top:3em;
	}


	iframe + p {
		margin-top: 1em;
	}

	pre {
		code {
			background: $codeBg;
			color: #f8f8f2;
			display: block;
			font-family: $codeFont;
			overflow-x: auto;
			padding: 1em;
		}
	}

	ol,
	ul {
		li {
			margin-bottom:1.5rem;
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		code {
			background:none;
			border:0;
			padding:0;
		}
	}

	h2 {
		font-size:$pageHeadingSize;
		font-weight:$pageHeadingWeight;
		margin:0;
		code {
			font-size: $pageHeadingSize;
		}
	}

	h3 {
		font-size:2rem;

		code {
			font-size:2rem;
		}
	}

	.difficulty {
		span {
			font-weight:bold;

			&:nth-child(2) {
				margin-left:2rem;
			}
		}
	}

	.subnav {
		height: auto;
		text-align:center;

		.tutorialsMenu {

			li {
				margin:0;
				padding:0;
				margin-right:2rem;

				.icon {
					font-size:1.7rem;
					margin-bottom:0.5rem;
				}
			}
		}
	}

}

// Main Index page
.tutorials {
	.docsLeadin {
		.doc {
			padding-top:1.5rem;
		}
	}

	.cardGrid {

		.row {
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
		}

		.card {
			&.hide {
				display:none;
			}

			.tag {
				color: #9B9B9B;
			}
		}

		.sectionTitle {

			&.getting-started:before {
				content: $icon_gettingStarted;
			}
			&.modules:before {
				content: $icon_modules;
			}
			&.dom-basics:before {
				content: $icon_domBasics;
			}
			&.fundamentals:before {
				content: $icon_fundamentals;
			}
			&.widgets:before {
				content: $icon_widgets;
			}
			&.working-with-data:before {
				content: $icon_workingWithData;
			}
			&.mobile:before {
				content: $icon_mobile;
			}
		}
	}

	#tutorials {
		padding-top:0;
	}
}

// Sub Menu

.tutorialMenuContainer {
	background: $lightBg;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
	text-align: center;
	padding:0.8rem 0 0.25rem 0;
}

.tutorialsMenu {
	display:inline-block;
	margin: 0 auto;

	li {
		link($dojoOrange);
		text-align: center;
		font-family:$headingFont;
		font-size:0.9rem;
		text-transform: uppercase;

		.icon {
			color: $softBlack;
			display:block;
			font-size: 2rem;
			margin-bottom:0.8rem;
			transition: color 0.3s;
		}

		&:hover {
			.icon {
				color:$dojoRed;
			}
		}
	}
}
