.authorBar {
    position: absolute;
    right: 0;
    top: 0;
    padding: 6px;
    width: 400px;
    border: 1px solid #000;
    border-style: none none solid solid;
    background-color: #eee;
}
.authorPic {
    float: left;
    width: 45px;
    margin: 2px 8px 2px 2px;
}
.rounded {
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    /*-webkit-border-top-right-radius: 5px;*/
}