<div class="footer">
	<div class="row main">
		<div class="medium-3 columns logoContainer">
			<div class="logoCell"></div>
		</div>
		<div class="medium-3 small-12 columns links">
			<h4>Useful Links</h4>
			<a href="<%- documentationUrl %>">Documentation</a>
			<a href="<%- tutorialsUrl %>">Tutorials</a>
			<a href="https://stackoverflow.com/questions/tagged/dstore">Stack Overflow</a>
			<a href="https://github.com/SitePen/dstore/issues">Issue Tracker</a>
			<a href="<%- githubUrl %>">GitHub</a>
		</div>
		<div class="medium-6 columns">
			<h4>Need help?<h4>
			<p>
				Don’t stress if you get stuck and need a little assistance. Free, community-provided dstore support is always available. SitePen also offers <a href="http://www.sitepen.com/support/index.html">commercial support</a> for dstore if you need a little extra TLC.
			</p>
		</div>
	</div>
	<div class="row subtext">
		<div class="medium-3 columns labs">
			A <a href="https://www.sitepen.com/about/labs.html">SitePen Labs</a> Product
		</div>
		<div class="medium-3 medium-offset-6 columns copyright small-text-left">
			© 2014 <a href="http://sitepen.com">SitePen Inc.</a>
		</div>
	</div>
</div>

<script>
	(function () {
		function on(target, eventName, listener) {
			var method = 'addEventListener';
			if (!target.addEventListener) {
				method = 'attachEvent';
				eventName = 'on' + eventName;
			}

			target[method](eventName, listener);
		}

		var body = document.body;
		on(document.querySelector('[data-menu-toggle]'), 'click', function () {
			if (body.className.indexOf('menuOpen') !== -1) {
				body.className = body.className.replace('menuOpen', '');
			} else {
				body.className += ' menuOpen';
			}
		});
	})();
</script>

<!--

                         __
                        /
  _ _ _ _ _ _ _\_ _ _ _|
 |_|_|_|_|_|_|_|\|_|_|_|
 |-|-|-|-|-|-|-|-\-|-|-|
 |_|_|_|_|_|_|_|_|\|_|_|
 |-|-|-|-|-|-|-|-|-\-|-|
 |_|_|_|_|_|_|_|_|_|\|_|
 |-|-|-|-|-|-|-|-|-|-|-|
 |_|_|_|_|_|_|_|_|_|_|_|\
             \           \
              \           |
 ____ ____ ____\___ ____ _/
/  |____|          |____|
jgs \__/            \__/

 -->