<div class="nav">
	<div class="row">
		<div class="large-12 columns">
			<% if (root.length > 0) { %>
				<a href="<%- root %>" class="navLogo"><span>Dojo</span></a>
			<% } else { %>
				<a href="/" class="navLogo"><span>Dojo</span></a>
			<% } %>
			<div class="mobileMenuToggle" data-menu-toggle></div>
			<div class="menu">
				<div class="mobileHeader">Menu</div>
				<!-- <span class="mobileLogo"></span> -->
				<ul class="inline-list">
					<li><a href="">Get Dojo</a></li>
					<li><a href="">Docs</a></li>
					<li><a href="">Help &amp; Support</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">Get Involved</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>