<!DOCTYPE HTML>
<html>
	<head>
		<% include meta %>
		<% include ga %>
		<% include favicons %>

		<title>Dojo Toolkit Tutorial: <%= title %></title>
	</head>
	<body>
		<% include nav %>

		<div class="row">
			<div class="large-9 columns content">
				<%- content %>
			</div>
		</div>
		<% include footer %>
	</body>
</html>