<!DOCTYPE HTML>
<html>
	<head>
		<% include meta %>
		<% include ga %>
		<% include favicons %>
		<link rel="stylesheet" href="/css/tutorials.css">
		<title>Dojo Toolkit Tutorial: <%= title %></title>
	</head>
	<body>
		<% include nav %>
		<main>
			<div class="row">
				<div class="large-9 large-offset-1 columns content tutorial">
					<%- content %>
				</div>
			</div>
		</main>
		<% include footer %>
	</body>
</html>