<!DOCTYPE html>
<html>
<head>
	<% include ../partials/meta %>
	<title>Dojo Toolkit</title>
</head>
<body>
	<% include ../partials/nav %>
	<main>
		<div class="packageStatus">
				<div class="content">
					<h2>Dojo 2 / Core</h2>
					<div class="package">
						<h3>loader</h3>
						<a href="">http://github.com/dojo/</a>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
					</div>
					<div class="package">
						<h3>platform</h3>
						<a href="">http://github.com/dojo/</a>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
					</div>
					<div class="package">
						<h3>class declarations</h3>
						<a href="">http://github.com/dojo/</a>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
					</div>
					<div class="package">
						<h3>async</h3>
						<a href="">http://github.com/dojo/</a>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
					</div>
					<div class="package">
						<h3>core</h3>
						<a href="">http://github.com/dojo/</a>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
					</div>
					<div class="package">
						<h3>stream</h3>
						<a href="">http://github.com/dojo/</a>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
					</div>
					<div class="package">
						<h3>io</h3>
						<a href="">http://github.com/dojo/</a>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
					</div>
					<div class="package">
						<h3>events</h3>
						<a href="">http://github.com/dojo/</a>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
					</div>
					<div class="package">
						<h3>i18n/g14n/l10n/bidi</h3>
						<a href="">http://github.com/dojo/</a>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
					</div>
					<div class="package">
						<h3>dom/html</h3>
						<a href="">http://github.com/dojo/</a>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
					</div>
					<div class="package">
						<h3>crypto</h3>
						<a href="">http://github.com/dojo/</a>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
					</div>
					<div class="package">
						<h3>history/routing</h3>
						<a href="">http://github.com/dojo/</a>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
					</div>
					<div class="package">
						<h3>dstore</h3>
						<a href="">http://github.com/dojo/</a>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
					</div>
					<div class="package">
						<h3>dojo-node</h3>
						<a href="">http://github.com/dojo/</a>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
					</div>
					<div class="package">
						<h3>a11y</h3>
						<a href="">http://github.com/dojo/</a>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
					</div>
					<div class="package">
						<h3>parser</h3>
						<a href="">http://github.com/dojo/</a>
						<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
					</div>
				</div>
				<div class="content">
					<h2>Dojo 2 / Widgets</h2>
					<div class="package">
						<h3>dgrid</h3>
						<a href="https://github.com/SitePen/dgrid">https://github.com/SitePen/dgrid</a>
						<p>The dgrid project provides widgets for lists of data, including simple sets of scrolling rows, grids of data, on-demand lazy-loaded data, and various mixins for additional functionality.

</p>
					</div>
					<div class="package">
						<h3>More TBD</h3>
						<p>Work on widgets will begin when Core is far enough along in development.</p>
					</div>

					<h2>Dojo 2 / Utils</h2>
					<div class="package">
						<h3>TBD</h3>
						<p>Utilities will be defined as Core takes shape.</p>
					</div>

				</div>
			</div>
			</main>
		<% include ../partials/footer %>
	</body>
</html>