{% extends "basic/layout.html" %}
{% set script_files = [] %}
{%- block doctype -%}
<!DOCTYPE html>
{%- endblock %}

{% block linktags %}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="/css/guide.css?{{ release }}">
    <script type="text/javascript">
      dojoConfig = { async: true, deps: [ 'dtk/nav', 'docs/guide' ] }
    </script>
    <meta name="viewport" content="width=device-width, minimum-scale=0.75, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <script src="/scripts/dojo/dojo/dojo.js?{{ version }}"></script>
    <link rel="stylesheet" href="/scripts/dojo/dijit/themes/claro/claro.css?{{ release }}">
{% endblock %}

{%- block document %}

  {% include "../../_partials/tmp/header.html" %}
  <div class="subnav">
      <div class="row">
        <div class="medium-9 columns">
         <ul>
            <li><a href="{{ pathto("index") }}">Startpage</a></li>
            <li><a href="{{ pathto("dojo/index") }}">Dojo</a></li>
            <li><a href="{{ pathto("dijit/index") }}">Dijit</a></li>
            <li><a href="{{ pathto("dojox/index") }}">DojoX</a></li>
          </ul>
        </div>
        <div class="medium-3 columns text-right">
           <div id="dtkVersion">
            <select id="refver" name="refver">
              <option value="1.7">Dojo 1.7</option>
              <option value="1.8">Dojo 1.8</option>
              <option value="1.9">Dojo 1.9</option>
              <option value="1.10" selected="selected">Dojo 1.10</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  <main class="refguide">
    <div class="row">
      <div class="medium-9 columns content">
          {% block body %}{% endblock %}
      </div>
      <div class="medium-3 columns">
        <div id="toc">
            <h3>Table of Contents</h3>
            <div class="tocList">{{ toc }}</div>
          </div>
      </div>
    </div>
{%- endblock %}

  {% block footer %}
  <div class="row">
    <div class="medium-12 columns feedback">
        <a href="https://docs.google.com/spreadsheet/viewform?hl=en_US&formkey=dFlDcHEyaHMwbEd4MFBObkNrX0E1MFE6MQ&entry_0=http%3A%2F%2Fdojotoolkit.org%2Freference-guide%2F1.10%2F">Error in the documentation? Can’t find what you are looking for? Let us know!</a>
    </div>
  </div>
  {% include "../../_partials/tmp/footer.html" %}
  {% endblock %}
</main>

{% block relbar1 %}
{% endblock %}
{% block relbar2 %}
{% endblock %}