{% extends "basic/layout.html" %}
{% set script_files = [] %}
{%- block doctype -%}
<!DOCTYPE html>
{%- endblock %}

{% block linktags %}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="/css/guide.css?{{ release }}">
    <script type="text/javascript">
      dojoConfig = {
        async: true
      };
    </script>
    <script src="/scripts/dojo/dojo/dojo.js?{{ version }}"></script>
    <script src="/scripts/dojo/docs/guide.js?{{ release }}"></script>
    <link rel="stylesheet" href="/scripts/dojo/dijit/themes/claro/claro.css?{{ release }}">
    <script src="/scripts/nav.js?{{ release }}"></script>
{% endblock %}

{%- block document %}

  {% include "../../_partials/header.ejs" %}
  <div class="subnav">
      <div class="row">
        <div class="medium-12 columns">
         <ul>
            <li><a href="{{ pathto("index") }}">Startpage</a></li>
            <li><a href="{{ pathto("dojo/index") }}">Dojo</a></li>
            <li><a href="{{ pathto("dijit/index") }}">Dijit</a></li>
            <li><a href="{{ pathto("dojox/index") }}">DojoX</a></li>
          </ul>
        </div>
        <!-- <div class="medium-3 columns text-right">
           <div id="dtkVersion">
            <select id="refver" name="refver">
              <option value="1.6">Dojo 1.6</option>
              <option value="1.7">Dojo 1.7</option>
              <option value="1.8">Dojo 1.8</option>
              <option value="1.9">Dojo 1.9</option>
              <option value="1.10" selected="selected">Dojo 1.10</option>
            </select>
          </div>
        </div>-->
      </div>
    </div>
  <main class="refguide">
    <div class="row">
      <div class="medium-12 columns medium-centered content">
        {% block body %} {% endblock %}
      </div>
    </div>
{%- endblock %}

  {% block footer %}
  <div class="row">
    <div class="medium-12 columns medium-centered feedback">
        <a href="https://docs.google.com/spreadsheet/viewform?hl=en_US&formkey=dFlDcHEyaHMwbEd4MFBObkNrX0E1MFE6MQ&entry_0=http%3A%2F%2Fdojotoolkit.org%2Freference-guide%2F1.10%2F">Error in the documentation? Can’t find what you are looking for? Let us know!</a>
        {% include "../../_partials/footer.ejs" %}
    </div>
  </div>
  {% endblock %}
</main>

{% block relbar1 %}
{% endblock %}
{% block relbar2 %}
{% endblock %}