{% extends "basic/layout.html" %}
{% set script_files = [] %}
{%- block doctype -%}
<!DOCTYPE html>
{%- endblock %}

{% block linktags %}
{% endblock %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ root }}css/guide.css?{{ release }}">
    <script type="text/javascript">
      dojoConfig = {
        async: true
      };
    </script>
    <meta name="viewport" content="width=device-width, minimum-scale=0.75, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <script src="{{ root }}scripts/dojo/dojo/dojo.js?{{ version }}"></script>
    <script src="{{ root }}scripts/dojo/docs/guide.js?{{ release }}"></script>
    <link rel="stylesheet" href="{{ root }}scripts/dojo/dijit/themes/claro/claro.css?{{ release }}">
    <script src="{{ root }}scripts/nav.js?{{ release }}"></script>
{% endblock %}

{%- block document %}

  <div class="nav">
    <div class="row">
      <div class="small-3 columns">
        <a href="{{ root }}" class="navLogo icon-dojo icon"></a>
      </div>
      <div class="small-9 columns text-right">
        <div class="mobileMenuToggle" data-menu-toggle></div>
        <div class="menu">
          <div class="mobileHeader">Menu</div>
          <ul class="inline-list menuItems right">
            <li><a href="{{ root }}download/" class="downloadLink">Get Dojo</a></li>
            <li><a href="{{ root }}documentation/" class="docsLink">Docs</a></li>
            <li><a href="{{ root }}community/" class="communityLink">Community</a></li>
            <li><a href="{{ root }}community/roadmap/" class="roadmapLink">Roadmap</a></li>
            <li><a href="{{ root }}blog/" class="blogLink">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="subnav">
      <div class="row">
        <div class="medium-9 columns">
         <ul>
            <li><a href="{{ root }}reference-guide/{{ version }}/">Startpage</a></li>
            <li><a href="{{ root }}reference-guide/{{ version }}/dojo/index.html">Dojo</a></li>
            <li><a href="{{ root }}reference-guide/{{ version }}/dijit/index.html">Dijit</a></li>
            <li><a href="{{ root }}reference-guide/{{ version }}/dojox/index.html">DojoX</a></li>
          </ul>
        </div>
        <div class="medium-3 columns text-right">
           <div id="dtkVersion">
            <select id="refver" name="refver">
              <option value="1.7">Dojo 1.7</option>
              <option value="1.8">Dojo 1.8</option>
              <option value="1.9">Dojo 1.9</option>
              <option value="1.10" selected="selected">Dojo 1.10</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  <main class="refguide">
    <div class="row">
      <div class="medium-9 columns content">
          {% block body %}{% endblock %}
      </div>
      <div class="medium-3 columns">
        <div id="toc">
            <h3>Table of Contents</h3>
            <div class="tocList">{{ toc }}</div>
          </div>
      </div>
    </div>
{%- endblock %}

  {% block footer %}
  <div class="row">
    <div class="medium-12 columns feedback">
        <a href="https://docs.google.com/spreadsheet/viewform?hl=en_US&formkey=dFlDcHEyaHMwbEd4MFBObkNrX0E1MFE6MQ&entry_0=http%3A%2F%2Fdojotoolkit.org%2Freference-guide%2F1.10%2F">Error in the documentation? Can’t find what you are looking for? Let us know!</a>
    </div>
  </div>
  {% include "../../_partials/tmp/footer.html" %}
  {% endblock %}
</main>

{% block relbar1 %}
{% endblock %}
{% block relbar2 %}
{% endblock %}