<!DOCTYPE html>
<html>
<head>
	<%- include('../../_partials/meta') %>
	<title>Community - Dojo Toolkit</title>
</head>
	<body class="community">
		<%- include('../../_partials/header') %>
		<%- include('../../_partials/subnav', {subnav: url.subnav.community}) %>
		<main>
			<section class="">
				<div class="row">
					<h1 class="pageTitle" id="support">Dojo Community Guidelines</h1>
				</div>
			</section>
			<section class="etiquette">
				<div class="row">
					<div class="medium-10 columns medium-centered">
						<h3 class="alt">Community Etiquette</h3>
						<p>We are a community of web development professionals, and conducting ourselves as such raises the community up and moves the project forward with ease. As a contributor to the Toolkit, we ask that you follow these few simple tenets in order to make working with Dojo an enjoyable experience for all:</p>
						<ul>
							<li><strong>Competence.</strong> Contribute when you have the skills, knowledge, and time to do so.</li>
							<li><strong>Reliability.</strong> Show up on time and do what you say you're going to do.</li>
							<li><strong>Honesty.</strong> Tell the truth and be upfront.</li>
							<li><strong>Integrity.</strong> Be consistent in your principles.</li>
							<li><strong>Respect For Others.</strong> Treat people with courtesy and respect.</li>
							<li><strong>Being Positive.</strong> No one likes a constant pessimist. Having an upbeat attitude and trying to be a problem-solver makes a big difference.</li>
							<li><strong>Supporting Others.</strong> Share the spotlight with contributors, take time to show others how to do things properly, and lend an ear when necessary.</li>
							<li><strong>Goal-Focused.</strong> Not letting your personal feelings get in the way of good decisions and spending time on relevant and pragmatic issues.</li>
							<li><strong>Listening Carefully.</strong> People want to be heard, so give people a chance to explain their ideas properly.</li>
						</ul>
						<p>Rudeness, threats, hostility, and defamation of fellow developers will not be tolerated.  Repeat offenders may have their contributor or commiter status revoked if behavior is not corrected upon request. We provide a formal grievance process so that serious issues can be given the consideration they deserve and detrimental effects to the project can be averted.</p>

						<h3 class="alt">Grievance Process</h3>
						<p>If you have a grievance about something occurring in the community, please follow the <a href="https://github.com/openjs-foundation/cross-project-council/blob/main/CODE_OF_CONDUCT.md">OpenJSF Code of Conduct guidelines</a> so that it can be reviewed and addressed. Rudeness, threats, hostility, and defamation of fellow developers are not tolerated, and repeat offenders may be prevented from contributing in the future. Please provide the following information when submitting a complaint:</p>
						<ul>
							<li>Date</li>
							<li>Description of grievance</li>
							<li>Supporting evidence</li>
							<li>Your name</li>
							<li>Your email address and/or phone number</li>
						</ul>
					</div>
				</div>
			</section>
		</main>
		<%- include('../../_partials/footer') %>
	</body>
</html>
