<!DOCTYPE html>
<html>
<head>
	<%- include ../_partials/meta %>
	<script src="/scripts/tutorials/filter.js"></script>
	<title>Documentation - Dojo Toolkit</title>
</head>
	<body class="tutorials">
		<%- include ../_partials/header %>
		<main>
			<h1 class="pageTitle">Dojo Documentation</h1>
			<div class="row full section docs nopad">
				<%- include('../_partials/ui/docsLeadin') %>
			</div>
			<div class="row full section">
				<div class="section" data-section='started'>
					<div class="tutorialCard" data-category="started" data-tags="ajax">Started, Ajax</div>
				</div>
				<div class="section" data-section='modules'>
					<div class="tutorialCard" data-category="modules" data-tags="amd deferred promise">AMD</div>
				</div>
			</div>
		</main>
	</body>
</html>