<!DOCTYPE html>
<html>
<head>
	<% include ../_partials/meta %>
	<script src="/scripts/tutorials/filter.js"></script>
	<link rel="stylesheet" href="/css/tutorials.css?<%= rev %>">
	<title>Documentation - Dojo Toolkit</title>
</head>
	<body class="tutorials">
		<% include ../_partials/header %>
		<main>
			<div class="row">
				<a class="toggle" data-toggle="all">All Tutorials</a>
				<a class="toggle" data-toggle="started">Getting Started</a>
				<a class="toggle" data-toggle="modules">Modules</a>

				<div class="section" data-section='started'>
					<div class="tutorialCard" data-category="started" data-tags="ajax">Started, Ajax</div>
				</div>
				<div class="section" data-section='modules'>
					<div class="tutorialCard" data-category="modules" data-tags="amd deferred promise">AMD</div>
				</div>
			</div>
		</main>
	</body>
</html>