<!DOCTYPE HTML>
<html>
	<head>
		<% include ../_partials/meta %>
		<link rel="stylesheet" href="/css/tutorials.css">
		<title>Dojo Toolkit Tutorial</title>
	</head>
	<body>
		<% include ../_partials/header %>
		<main>
			<div class="row">
				<div class="medium-8 medium-centered columns content tutorial">
					<%- content %>
				</div>
			</div>
		</main>
		<% include ../_partials/footer %>
	</body>
</html>