<!DOCTYPE html>
<html>
<head>
	<% include ../../_partials/meta %>
	<title>Dojo 2 Roadmap - Dojo Toolkit</title>
</head>
<body class="roadmap">
	<% include ../../_partials/header %>

	<div class="subnav">
		<div class="row">
			<div class="medium-12 columns">
				<ul>
					<li><a href="{{ pathto('vision') }}">Package Status</a></li>
					<li><a href="{{ pathto('../../status') }}">Vision</a></li>
				</ul>
			</div>
		</div>
	</div>

	<main>
		<div class="pageTitle">
			<div class="text-center">
				<div class="row">
					<div class="small-centered medium-10 large-10 columns">
						<h1>Dojo 2 Vision</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="visionText">
			<h2 class="sectionTitle">A Quick Dojo 1.x history</h2>

			<p>
			The Dojo Toolkit began in 2004 by a group of like-minded JavaScript engineers that were tired of reinventing the wheel and hacking around browser inconsistencies.
			</p>

			<p>
			The mission of the Dojo Toolkit has been to: Provide consistent and easy to use features and APIs that allow developers to create maintainable web apps faster and easier without having to worry about the inconsistencies and quirks of each browser.
			</p>

			<p>
			We released Dojo 1.0 in 2007 and have iterated heavily on the 1.x line since, introducing concepts that are now becoming mainstream in JavaScript development. At the time using JavaScript modules, promises/deferreds, CSS preprocessors and a build system was perceived by many as being complicated and unnecessary. As we know, these things are an expected part of JavaScript development today and we’re very excited that the majority of JavaScript engineers are now approaching development in this way.
			</p>
			
		</div>
	</main>
</body>
</html>