@import url('//fonts.googleapis.com/css?family=Lato:100,300,400,700|Merriweather:400,700,300,300italic,400italic,700italic|Ubuntu+Mono');
@import '../../node_modules/rupture/rupture';
@import 'vendor/foundation.css';
@import variables
@import mixins
@import nib


main {
	padding-top: $navHeight + $subnavHeight;

	&.nonav {
		padding-top: $navHeight;
	}
}

.row.full {
	max-width:100%;
}

.row.nopad {
	padding: 0 !important;
}

.constrain {
	max-width:90em;
}

.section {
	padding-top: 2em;
	padding-bottom: 2em;


	&.alt {
		background: $sectionAltBg;

		& + .footer {
			margin-top:0;
		}
	}

}

body,
html {
	width: 100%;
	height: 100%;
	font-family: $bodyFont;
	font-size:$baseFontSize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headingFont;
	a {
		color: $headingColor;
		text-decoration:none;
	}
}

h1 {
	font-size:$pageHeadingSize;
	font-weight:$pageHeadingWeight;
	margin:0;
}

h2 {
	font-size: 2rem;
	font-weight: 400;
	margin-bottom:0.25em;
}


.pageTitle {
	margin-top: 2rem;
	text-align: center;
}

.sectionTitle {
	color: $headingColor;
	font-size: 2.4rem;
	font-weight: 300;
	text-align: center;
	margin-bottom:2rem;

	&.alt {
		color:$dojoOrange;
	}

	&:before {
		color: $dojoRed;
		display:inline-block;
		font-family: 'icomoon_icons';
		font-size: 2.2rem;
		margin-right:1rem;
	}
}

.subTitle {
	color: $dojoOrange;
	font-size: 2.4rem;
	font-weight: 300;
	text-align: center;
	margin-bottom:2rem;
}

h3,
.sectionSubTitle {
	font-size:1.7rem;
	font-weight: 400;
	margin: 2rem 0 0.7rem 0;
}

h4 {
	font-size: 1.5rem;
	margin-bottom:0;
}

h5 {
	font-size: 1.2rem;
	margin-bottom:0;
}

p {
	line-height:1.8;
}

ul {
	li {
		margin: 0.5em;
	}
}

a {
	color: $linkColor;

	&:hover, &:focus {
		color: lighten($linkColor, 20%);
	}
}

pre,
code {
	background:$lightBg;
	border-radius: 4px
	font-family: $codeFont;
	font-size:$codeFontSize;

	&.codeBlock {
		background:$codeBg;
		padding:1em;
		code {
			background:none;
			color: #fff;
		}
	}
}

.button {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 100;
	font-family: $bodyFont;

	&.secondary {
		border: 1px solid #163e5a;
		background: transparent;
		color: #163e5a;

		&:hover {
			background: transparent;
		}
	}
}

.learnMore {
	text-align: center;

	.button {
		button($dojoRed, #fff, $dojoRed, #fff);
		padding:1rem 4rem;
		margin:1em 0 3em 0;
	}
}


label {
	display:inline-block;
}

select {
	width: auto;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}


.three-up-icons {

	.iconBlock {
		padding:4rem 2rem;
		text-align: center;
		transition: background-color 0.2s;

		[class^="icon-"] {
			display:block;
			color:$docIconColor;
			font-size:5.5rem;
			position: relative;
			text-decoration:none;
			transition: 0.4s ease-in;
		}

		.blockLink {
			color:$docTitleColor;
			font-size: 1.2rem;
			font-weight:400;
			margin-top:1em;
			position: relative;
			text-transform:uppercase;
			link($dojoOrange);
			transition: 0.4s ease-in;

			a {
				display:block;
			}
		}

		p {
			font-size:0.9rem;
			margin:0 auto;
			max-width:80%;
		}

	}
}