/**
 * Footer styles
 */

.footer {
	background: #153954;
	line-height: 32px;
	font-weight: 100;
	color: white;
	padding: 80px 0;

	h4 {
		color: white;
	}

	p {
		color: rgba(255, 255, 255, .64);
		font-weight: 300;
		font-size: 18px;
	}

	.links a {
		display: block;
		font-size: 18px;
	}

	.subtext {
		font-weight: 16px;
		color: rgba(255, 255, 255, .25);
		margin-top: 70px;

		a {
			color: rgba(255, 255, 255, .25);
		}

		.copyright {
			text-align: right;
		}

		.labs,
		.copyright {
			font-size: 13px;
		}
	}

	.logoContainer {
		position: relative;

		.logoCell {
			background: url('../images/logo_mono.png') no-repeat left center/contain;
			height: 29px;
			width: 129px;
			margin-top: 7px;
		}
	}
}

+below(40.061em) {
	.footer {
		background: #153954;

		.logoContainer {
			display: none;
		}

		.links {
			margin-bottom: 40px;
		}

		.subtext  {
			margin-top: 25px;
			.labs {
				display: none;
			}
		}
	}
}