@import nib
@import variables
@import header
@import url('//fonts.googleapis.com/css?family=Lato:100,300,400,700|Merriweather:400,700,300,300italic,400italic,700italic');
@import 'vendor/foundation.css';
@import overrides;

body, html {
    margin:0; padding:0;
    width:100%;
    height:100%;
    font-family: Arial,Helvetica,"Liberation Sans",FreeSans,sans-serif;
}
body.wikidocs {
    font-size: 14px;
    font-family:Helvetica,Arial,Sans-Serif;
    line-height:1.3em;
}
.wikidocs code,
.wikidocs pre,
.wikidocs tt {
	font-family:"Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
}
.wikidocs .wrap {
    width:960px;
    margin: 0 auto;
}
.wikidocs #contents {
    border:1px dashed #666;
    background: #eee;
    padding:0 15px 10px 15px;
    margin:15px 0;
}
.wikidocs #contents .simple {
    margin:5px;
    padding-left:15px;
    padding-right:5px;
}
.wikidocs .section h2,
.wikidocs .section h1 {
    border-bottom:1px solid #666;
    line-height:1.7em;
}
.wikidocs .section h1 a,
.wikidocs .section h2 a,
.wikidocs .section a.toc-backref {
    text-decoration:none;
}
.wikidocs .section h1 a:link,
.wikidocs .section h2 a:link,
.wikidocs .section a.toc-backref:link {
    color:#101010;
    text-decoration:none;
}
.wikidocs .section h1 a:visited,
.wikidocs .section h2 a:visited,
.wikidocs .section a.toc-backref:visited {
    color:#101010;
    text-decoration:none;
}
.wikidocs .section h1 a:hover,
.wikidocs .section h2 a:hover,
.wikidocs .section a.toc-backref:hover {
    color:#666;
    text-decoration:none;
}
.wikidocs #rstwiki-nav a { color:#000; }
.wikidocs #rstwiki-nav a:link { color:#000; text-decoration:underline; }
.wikidocs #rstwiki-nav a:visited { color:#101010; text-decoration:underline; }
.wikidocs #rstwiki-nav a:hover { color:red; text-decoration:underline; }
.wikidocs .head {
    background:#ededed;
    border-bottom:1px solid #666;
}
.wikidocs .crumbs {
    padding-top:10px;
    padding-bottom:10px;
}
.wikidocs .document {
    padding:5px 0 25px 0;
    position:relative;
}
.wikidocs .highlight .hll { background-color: #ffffcc }
.wikidocs .highlight,
.wikidocs .literal-block {
    border:1px dashed #666;
    padding:5px 15px;
    background: #f8f8f8;
}
.wikidocs .literal-block{
    padding: 1.5em 15px;
    overflow: auto;
    font-size: 94.2%;
}
.wikidocs .highlight pre { width:100%; overflow:auto; font-size:94.2%; }
.wikidocs .highlight .c { color: #408080; font-style: italic }
.wikidocs .highlight .err {  }
.wikidocs .highlight .k { color: #008000; font-weight: bold }
.wikidocs .highlight .o { color: #666666 }
.wikidocs .highlight .cm { color: #408080; font-style: italic }
.wikidocs .highlight .cp { color: #BC7A00 }
.wikidocs .highlight .c1 { color: #408080; font-style: italic }
.wikidocs .highlight .cs { color: #408080; font-style: italic }
.wikidocs .highlight .gd { color: #A00000 }
.wikidocs .highlight .ge { font-style: italic }
.wikidocs .highlight .gr { color: #FF0000 }
.wikidocs .highlight .gh { color: #000080; font-weight: bold }
.wikidocs .highlight .gi { color: #00A000 }
.wikidocs .highlight .go { color: #808080 }
.wikidocs .highlight .gp { color: #000080; font-weight: bold }
.wikidocs .highlight .gs { font-weight: bold }
.wikidocs .highlight .gu { color: #800080; font-weight: bold }
.wikidocs .highlight .gt { color: #0040D0 }
.wikidocs .highlight .kc { color: #008000; font-weight: bold }
.wikidocs .highlight .kd { color: #008000; font-weight: bold }
.wikidocs .highlight .kn { color: #008000; font-weight: bold }
.wikidocs .highlight .kp { color: #008000 }
.wikidocs .highlight .kr { color: #008000; font-weight: bold }
.wikidocs .highlight .kt { color: #B00040 }
.wikidocs .highlight .m { color: #666666 }
.wikidocs .highlight .s { color: #BA2121 }
.wikidocs .highlight .na { color: #7D9029 }
.wikidocs .highlight .nb { color: #008000 }
.wikidocs .highlight .nc { color: #0000FF; font-weight: bold }
.wikidocs .highlight .no { color: #880000 }
.wikidocs .highlight .nd { color: #AA22FF }
.wikidocs .highlight .ni { color: #999999; font-weight: bold }
.wikidocs .highlight .ne { color: #D2413A; font-weight: bold }
.wikidocs .highlight .nf { color: #0000FF }
.wikidocs .highlight .nl { color: #A0A000 }
.wikidocs .highlight .nn { color: #0000FF; font-weight: bold }
.wikidocs .highlight .nt { color: #008000; font-weight: bold }
.wikidocs .highlight .nv { color: #19177C }
.wikidocs .highlight .ow { color: #AA22FF; font-weight: bold }
.wikidocs .highlight .w { color: #bbbbbb }
.wikidocs .highlight .mf { color: #666666 }
.wikidocs .highlight .mh { color: #666666 }
.wikidocs .highlight .mi { color: #666666 }
.wikidocs .highlight .mo { color: #666666 }
.wikidocs .highlight .sb { color: #BA2121 }
.wikidocs .highlight .sc { color: #BA2121 }
.wikidocs .highlight .sd { color: #BA2121; font-style: italic }
.wikidocs .highlight .s2 { color: #BA2121 }
.wikidocs .highlight .se { color: #BB6622; font-weight: bold }
.wikidocs .highlight .sh { color: #BA2121 }
.wikidocs .highlight .si { color: #BB6688; font-weight: bold }
.wikidocs .highlight .sx { color: #008000 }
.wikidocs .highlight .sr { color: #BB6688 }
.wikidocs .highlight .s1 { color: #BA2121 }
.wikidocs .highlight .ss { color: #19177C }
.wikidocs .highlight .bp { color: #008000 }
.wikidocs .highlight .vc { color: #19177C }
.wikidocs .highlight .vg { color: #19177C }
.wikidocs .highlight .vi { color: #19177C }
.wikidocs .highlight .il { color: #666666 }
textarea {
    font-family: monospace;
    font-size: 10pt;
    color:#101010;
    border:0;
}
.wikidocs .resp button {
    margin:0.6em 0;
}
.wikidocs .editor {
    border:1px solid #666;
}
.wikidocs #editorhandle {
    padding:0.4em;
    width:100%;
    margin:0; padding:0;
    border-top:1px solid #666;
    background:#ededed;
    height:8px;
}
.wikidocs #editorhandle a { display:none; }
.wikidocs #rstwiki-nav {
    margin-top:10px;
    float:right;
}
.wikidocs .resp h1 {
    margin-top:15px;
}
.wikidocs .resp label,
.wikidocs #files label {
    display:block;
}
.wikidocs .bloc { margin:0.7em 0; }
.wikidocs input {
    padding:0.4em;
    border:1px solid #666;
    color:#101010;
}
.CodeGlassMini {
    padding:10px;
    position:relative;
    border:1px solid #999;
}
.CodeGlassMini.closed {
   background:#f8f8f8;
}
.CodeGlassMiniInner {

	margin-top: 10px;
}
.closed .CodeGlassMiniInner {
    display:none;
}
.closed .CodeGlassMiniInner:before {
    content:"Example Code";
}
.CodeGlassMini + .CodeGlassMini {
    margin-top:15px;
}
.CodeGlassMiniRunner,
.CodeGlassMiniRawHtml,
.CodeGlassMiniCollapser {
	border: 1px solid #AAAAAA;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin: 0 10px 10px 0;
	padding: 4px;
	text-decoration: none;
	color: #000000;
	background-color: #EEEEEE;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(240, 240, 240)), to(rgb(216, 216, 216)));
    background-image: -webkit-linear-gradient(top, rgb(240, 240, 240), rgb(216, 216, 216));
    background-image: -moz-linear-gradient(top, rgb(240, 240, 240), rgb(216, 216, 216));
    background-image: -o-linear-gradient(top, rgb(240, 240, 240), rgb(216, 216, 216));
    background-image: -ms-linear-gradient(top, rgb(240, 240, 240), rgb(216, 216, 216));
    background-image: linear-gradient(top, rgb(240, 240, 240), rgb(216, 216, 216));
}
.CodeGlassMiniRunner > span,
.CodeGlassMiniRawHtml > span,
.CodeGlassMiniCollapser > span {
	padding: 6px 6px 6px 23px;
}
.CodeGlassMiniRawHtml > span {
	background: url("source.png") no-repeat 3px center;
}
.CodeGlassMiniRunner > span {
	background: url("play.png") no-repeat 3px center;
}
.CodeGlassMiniCollapser > span {
	background: url("collapse.png") no-repeat 3px center;
}
.CodeGlassMini pre {
    overflow:auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
.wikidocs .highlight + .CodeGlassMiniRaw + .highlight,
.wikidocs .highlight + .CodeGlassMiniRaw + .highlight + .CodeGlassMiniRaw + .highlight {
    margin-top:1em;
}
.CodeGlassMiniRaw {
    display:none;
}
.live-example {
    position:relative;
}
.live-example .inner {
    padding:5px 15px;
    border-left:1px dotted #666;
    background-color:#f8f8f8;
}
.live-example a {
    position:absolute;
    left:-20px;
    top:0;
}
.live-example .closed {
    display:none;
}
.preview > .document{
    background-color: #FCFFC7;
    background-transparency: none;
}
.rstEditor {
    margin-top:5px;
    width:100%;
    border:1px solid gray;
    overflow: none;
}
#rstwiki-editorMessage {
    font-size:75%;
    font-weight:normal;
}
#rstwiki-footer {
    font-size:75%;
    margin-bottom:8px;
}
#redirectlink {
    position: fixed;
    display: none;
    bottom: 0;
    z-index: 999;
    width: 930px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    border-top: 2px #333333 solid;
    border-left: 2px #333333 solid;
    border-right: 2px #333333 solid;
    text-align: center;
    background-color: #FCFFC7;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 0 8px #999999;
}
.dj_ie6 #redirectlink {
    position: relative;
}
#redirectlink span {
    color:red;
    font-weight: bold;
}
#redirectlink em {
	font-weight: bold;
}
#closer {
    position: absolute;
    top: 5px;
    right: 5px;
}
.dj_ie6 #closer{
    display: none;
}
#closer a {
    text-decoration: none;
    color: #999999;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
#rstwiki-contentPanel {
    margin-top: 54px;
    margin-bottom: 66px;
}
#rstwiki-head {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 2px #999999;
}
.toc-backref:before {
    content: " ";
    display: block;
    height: 54px;
    margin-top: -54px;
    visibility: hidden;
}
#contents {
	display: none;
}
#accessibilityNode {
	display: none;
}
#header ul {
	bottom: 4px !important;
}
#foot {
	margin-top: 10px;
	font-size: 0.8em;
	color: #333333;
	height: 24px;
	left: 0;
}
#foot .footer {
	border-top: 1px solid #CCCCCC;
	margin-top: 20px !important;
	margin-bottom: 10px;
	padding-top: 13px;
}
.section > p {
	margin-top: 12px;
}
.section h1,
.section h2,
.section h3,
.section h4,
.section h5,
.section h6 {
	color: #0092C9;
	margin-top: 0;
	text-shadow: 0 1px 0 rgba(255,255,255,.9);
}
.section blockquote {
    color: #222222;
    font-family: Arial,Helvetica,"Liberation Sans",FreeSans,sans-serif;
    font-size: 14px;
    line-height: 125%;
    font-style: normal;
}
.section blockquote p:before {
    content: '';
    margin-left: 0;
}
.section blockquote p:after {
    content: '';
    height: 0;
}
.section h1 {
	font-family: Arial,Helvetica,"Liberation Sans",FreeSans,sans-serif !important;
}
.section h5,
.section h6 {
	font-size: 14px;
}
.section h6 {
	font-style: italic;
}
.section > .section {
	margin: 24px 0;
}
.section li em,
.section a em {
	font-style: normal;
}
.section li em {
	font-weight: bold;
}
.section pre{
	background-color:#F7F7F7;
	box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.5);
	font-family:"Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
	font-size:13px;
	padding:10px;
}
.section tt,
.section p > code{
	font-family:"Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important;
	border: 1px solid #CCCCCC;
	background-color: #F7F7F7;
	padding: 1px;
	font-size: 0.95em;
	height: 1em;
}
.section .required {
	font-weight: bold;
}
.section .optional {
	font-size: 1em;
	font-style: italic;;
}
.section .footnote-reference {
	font-size: 90%;
}
table.docutils {
	border-collapse:collapse;
	margin-top: 20px;
}
table.docutils th {
	text-align:center;
	font-size:14px;
	padding:3px 6px;
	background-color: #DDDDDD;
	background: #fdfdfd;
	background: -moz-linear-gradient(top, #fdfdfd 0%, #f0f0f0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f0f0f0));
	background: -webkit-linear-gradient(top, #fdfdfd 0%,#f0f0f0 100%);
	background: -o-linear-gradient(top, #fdfdfd 0%,#f0f0f0 100%);
	background: -ms-linear-gradient(top, #fdfdfd 0%,#f0f0f0 100%);
	background: linear-gradient(top, #fdfdfd 0%,#f0f0f0 100%);
	border: 1px solid #E6E6E7;
	color: #333333;
	text-shadow: 0 1px 0 rgba(255,255,255,.9);
}
table.docutils td {
	font-size:14px;
	padding:3px;
	vertical-align: top;
}
table.docutils .first {
	font-weight: normal;
	margin-top: 0;
}
table.field-list th {
	text-align: left;
	background-color: #f7f7f8;
	background: #f7f7f8;
	border-right: 2px solid #E6E6E7 !important;
	padding-right: 6px;
}
table.field-list td {
	padding-left: 6px;
}
#dtkVersion {
	margin: 20px 0 5px;
	padding-left: 15px;
}
.sidebar h4 {
	height: 34px;
	line-height: 34px;
	font-weight: normal;
	padding: 0 1em;
	margin: 0;
	border: 1px solid #ececec;
	border-radius: 6px;
	text-transform: uppercase;
	text-shadow: 0 1px 0 #FFF;
	box-shadow: 0 1px 0 #ccc, 0 1px 0 #fff inset;
	background: #e9e9e9;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.09, #f4f4f4),
		color-stop(0.78, #fefefe)
	);
	background-image: -moz-linear-gradient(
		center bottom,
		#f4f4f4 9%,
		#fefefe 78%
	);
}
.sidebar .sphinxsidebar h4 {
	background:none;
	border:none;
	box-shadow: none;
	margin:0.35em 0;
	padding:0;
	font-weight:normal;
	padding-left:15px;
}
.sidebar li {
	margin: 0;
}
.sidebar ul ul {
	margin: 5px 0 0 0;
}
.sphinxsidebar h3 {
	border-top:1px solid #ccc;
	padding-top:1.5em;
	padding-left:15px;
	margin:20px 0 5px 0;
}
.sphinxsidebar h3 a:link, .sphinxsidebar h3 a:visited {
	color:#333;
}
.sphinxsidebar p.topless {
	padding-left: 20px;
}
#searchbox h3 {
	color: #0092C9;
	text-shadow: 0 1px 0 rgba(255,255,255,.9);
}
#searchbox form {
	margin-left: 15px;
}
#searchbox .searchtip {
	margin-top: 10px;
	margin-left: 5px;
	color: #333333;
}
.section .CodeGlassMiniRunner,
.section .CodeGlassMiniRawHtml,
.section .CodeGlassMiniCollapser {
	background-color: #5BAED5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 176, 216)), to(rgb(0, 136, 196)));
	background-image: -webkit-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
	background-image: -moz-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
	background-image: -o-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
	background-image: -ms-linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
	background-image: linear-gradient(top, rgb(0, 176, 216), rgb(0, 136, 196));
	border-radius: 3px;
	border: 1px solid #64D0E7;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	letter-spacing: -0.0035em;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);
}
.section .CodeGlassMiniRunner:hover,
.section .CodeGlassMiniRawHtml:hover,
.section .CodeGlassMiniCollapser:hover {
	text-decoration: none;
}
.CodeGlassMini {
	box-shadow: 0 4px 4px -3px rgba(0, 0, 0, 0.5);
}
.CodeGlassMini pre {
	box-shadow: none;
}
