.nav {
	background: $navBg;
	border-bottom:$navBorder;
	color:$navTextColor;
	font-family: $navFont;
	height:$navHeight;
	margin: 0;
	position: fixed;
	top:0;
	width: 100%;
	z-index: 6;
	transition: height $navTransitionTime;

	&.shrink {
		height: $navHeightShrink;

		.menu .menuItems li a {
			font-size: 1rem;
		}

		& + .subnav {
			transform: translateY(-($navHeightShrink / 1.8));
			box-shadow:$navShadow;
		}

		.row {
			padding-top: ($navHeight / 6);
		}
	}

	.navLogo {
		color:#fff;
		font-size:38px;
		position: relative;
		top:-4px;
	}

	.row {
		height: $navHeight;
		padding-top: ($navHeight / 2.5);
		width:90%;
		max-width:$maxWidth;
		transition: padding $navTransitionTime;
	}

	.menu {
		.mobileHeader {
			display: none;
			font-size: 18px;
			font-weight: 100;
		}

		.menuItems {
			li {
				margin:0;
				a {
					color:$navTextColor;
					font-size: $navFontSize
					font-weight: 400;
					margin-left: 2rem;
					text-transform:uppercase;
					text-decoration: none;
					vertical-align: top;
					transition: font-size $navTransitionTime;
				}
			}
		}

		.mobileLogo {
			display: none;
			width: 50px;
			height: 40px;
		}
	}

	.mobileMenuToggle {
		display:none;
		font-size:1.5em;
		color: $navTextColor;
		text-align:center;
		cursor:pointer;
	}
}

// Style links to indicate the current section

.download .downloadLink,
.tutorials .docsLink,
.tutorial .docsLink
.refguide .docsLink,
.api .docsLink,
.roadmap .roadmapLink,
.dtkBlog .blogLink,
.community .communityLink {
	border-bottom:1px solid white;

	@media (max-width: 750px) {
		border-bottom:0;
		&:before {
			content:'>';
			display:inline-block;
			margin-right:5px;
		}
	}
}


.subnav {
    background: $subnavBg;
    color: #fff;
    height: $subnavHeight;
    font-family: $navFont;
    position: fixed;
    top: $navHeight;
    transition: height $navTransitionTime, transform $navTransitionTime;
    width: 100%;
    z-index: 7;

    .row {
        padding-top: 0.7em;
		max-width:$maxWidth;
    }

    #dtkVersion,
    ul,
    li,
    #searchbox,
    h4 {
        display: inline-block;
        margin:0;
        padding:0;
    }

    li {
        font-size: 0.9rem;
        margin-right: 1.5rem;

        link($subnavLink, $dojoRed);

        a {
            text-transform:uppercase;
        }
    }

    .text-right {
        text-align: right;
    }
}

@media (max-width: 750px) {

	.shrink ul.menuItems li,
	ul.menuItems li {
		padding-top:0.5rem;
		padding-bottom:0.5rem;

		a {
			font-size:1.25rem !important;
		}
	}

	body.menuOpen {

		.mobileMenuToggle {
			fixed: top 28px right 20px;
			// color: #333;


			&:after {
				content: '✖'
			}
		}

		.shrink .mobileMenuToggle {
			fixed: top 9px right 20px;
		}

		.menu {
			transform: translateY(0);
		}
	}

	.subnav {
		display:none;
		height: auto;
		padding-bottom: .7em;


		li {
			display: block;
		}

		.columns {
			padding: 0;
		}

		.row {
			max-width: 100% !important;
			padding-left: 20px;
			padding-right: 20px;
		}
	}

	.nav {
		.navLogo {
			left: 20px;
		}

		.row {
			max-width: 100% !important;
		}

		.columns {
			padding-left: 0;
			padding-right: 0;
		}

		.menu {
			fixed: top 0 right 0;

			transform: translateY(-100%);
			background: $dojoRed;
			box-shadow: 1px 1px 3px 0 rgba(50, 50, 50, 0.2);;
			z-index: 2;
			transition: transform .2s;
			width: 100%;
			text-align: left;

			.mobileHeader {
				background: mix($navBg, $softBlack, 40%);
				border-right: 1px solid rgb(224, 57, 49);
				color: white;
				display: block;
				font-weight:400;
				height: $navHeight;
				line-height: $navHeight;
				padding: 0 18px;
				text-transform: uppercase;
				transition: height $navTransitionTime, line-height $navTransitionTime;
			}

			.mobileLogo {
				display: inline-block;
				max-width: 50px;
				margin-bottom: 20px;
			}

			ul.menuItems {
				padding: 22px 18px 1rem;
				margin: 0;
				//height: calc(100% - $navHeight);
				width: 100%;

				li {
					margin-left: 0;
					display: block;
					float: none;

					a {
						color: #fff;
						margin-left: 0;
					}
				}
			}

			.spLabs {
				display: none;
			}
		}

		&.shrink {
			.menu .mobileHeader {
				height: $navHeightShrink;
				line-height: $navHeightShrink;
			}
		}

		.mobileMenuToggle {
			absolute: right 0 top -5px;
			cursor: pointer;
			font-size: 24px;
			transition: transform .2s, color .2s;
			z-index: 3;
			display: block;

			&:after {
				content: '☰';
				display: block;
			}
		}
	}
}