$navHeightShrink = $navHeight * 0.65;

.nav {
	background: $navBg;
	border-bottom:$navBorder;
	color:$navTextColor;
	font-family: $navFont;
	height:$navHeight;
	margin: 0;
	position: fixed;
	top:0;
	width: 100%;
	z-index: 1;
	transition: height $navTransitionTime;

	&.shrink {
		height: $navHeightShrink;

		.menu .menuItems li a {
			font-size: 1rem;
		}

		& + .subnav {
			transform: translateY(-($navHeightShrink / 1.8));
			height: ($subnavHeight * 0.8)
			box-shadow:1px 1px 1px 0 rgba(50, 50, 50, 0.2);
		}

		.row {
			padding-top: ($navHeight / 6);
		}
	}

	.navLogo {
		color:$navTextColor;
		font-size:1.6rem;
		text-decoration: none;
		text-transform:uppercase;
		position: relative;
		top: -3px;
		width: 129px;
	}

	.row {
		height: $navHeight;
		padding-top: ($navHeight / 2.5);
		max-width:90%;
		transition: padding $navTransitionTime;
	}

	.menu {
		.mobileHeader {
			display: none;
			font-size: 18px;
			font-weight: 100;
		}

		.menuItems {
			li {
				margin:0;
				a {
					color:$navTextColor;
					font-size: $navFontSize
					font-weight: 400;
					margin-left: 2rem;
					text-transform:uppercase;
					text-decoration: none;
					vertical-align: top;
					transition: font-size $navTransitionTime;
				}
			}
		}

		.mobileLogo {
			display: none;
			width: 50px;
			height: 40px;
		}
	}

	.mobileMenuToggle {
		display:none;
		font-size:1.5em;
		color:#fff;
		text-align:center;
		cursor:pointer;
	}

	+below(1) {
		.mobileMenuToggle {
			color:$dojoRed;
			display:block;
			position:absolute;
			right:0;
			top:0;

			&:after {
				content:'';


			}
		}
	}
}


.subnav {
    background: $subnavBg;
    color: #fff;
    height: $subnavHeight;
    font-family: $navFont;
    position: fixed;
    top: $navHeight;
    transition: height $navTransitionTime, transform $navTransitionTime;
    width: 100%;
    z-index: 5;

    .row {
        padding-top: 0.7em;
		max-width:90%;
    }

    #dtkVersion,
    ul,
    li,
    #searchbox,
    h4 {
        display: inline-block;
        margin:0;
        padding:0;
    }

    li {
        font-size: 0.9rem;
        margin-right: 1em;

        a {
            color: $subnavLink;
            text-transform:uppercase;
            text-decoration: none;
        }
    }

    .text-right {
        text-align: right;
    }
}