.nav {
	background: $navBg;
	color:$navTextColor;
	font-family: $navFont;
	height:$navHeight;
	margin: 0;
	position: fixed;
	top:0;
	width: 100%;
	z-index: 1;

	.navLogo {
		color:$navTextColor;
		font-size:1.6rem;
		text-decoration: none;
		text-transform:uppercase;
		width: 129px;
	}

	.row {
		height: $navHeight;
		padding-top: ($navHeight / 2.5);
		max-width:90%;
	}

	.menu {
		.mobileHeader {
			display: none;
			font-size: 18px;
			font-weight: 100;
		}

		.menuItems {
			li {
				margin:0;
				a {
					color:$navTextColor;
					font-size: 0.9rem;
					font-weight: 400;
					margin-left: 23px;
					text-transform:uppercase;
					text-decoration: none;
					vertical-align: top;
				}
			}
		}

		.mobileLogo {
			display: none;
			width: 50px;
			height: 40px;
		}
	}
}


.subnav {
    background: $subnavBg;
    color: #fff;
    height: $subnavHeight;
    font-family: $navFont;
    position: fixed;
    top: $navHeight;
    width: 100%;
    z-index: 5;

    .row {
        padding-top: 0.7em;
		max-width:90%;
    }

    #dtkVersion,
    ul,
    li,
    #searchbox,
    h4 {
        display: inline-block;
        margin:0;
        padding:0;
    }

    li {
        font-size: 0.9rem;
        margin-right: 1em;

        a {
            color: $subnavLink;
            text-transform:uppercase;
            text-decoration: none;
        }
    }

    .text-right {
        text-align: right;
    }
}
