@import nib
@import variables
@import url('//fonts.googleapis.com/css?family=Lato:100,300,400,700|Merriweather:400,700,300,300italic,400italic,700italic');
@import '../../node_modules/rupture/rupture';
@import 'vendor/foundation.min.css';
@import 'vendor/sublime.css';
@import footer

/**
 * Table of contents
 * -----------------
 * 0. Overrides
 * 1. Above fold section
 * 2. Features section
 * 3. Download section
 * 4. Animations
 * 5. Media queries
 */

/**
 * Overrides
 */

body,
html {
	width: 100%;
	height: 100%;
	font-family: $bodyFont;
	font-size:14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headingFont;
}

.button {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 100;
	font-family: $bodyFont;

	&.secondary {
		border: 1px solid #163e5a;
		background: transparent;
		color: #163e5a;

		&:hover {
			background: transparent;
		}
	}
}

a {
	color: #FF6C6C;

	&:hover, &:focus {
		color: #FF6C6C;
	}
}

p {
	font-weight: 300;
}

pre {
	word-wrap: break-word;
	padding: 0.5em;
	color: #333;
	background: #f8f8f8;

	code {
		color: inherit;
		font-weight: inherit;
	}
}

main {
	//padding-top: $navHeight + 1em;
}

.nav {
	background: $navBg;
	box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
	color:$navTextColor;
	font-family: $navFont;
	height:$navHeight;
	margin: 0;
	/*position: fixed;
	top:0;*/
	width: 100%;
	z-index: 1;

	.columns {
		height: $navHeight;
		position: relative;
	}

	.navLogo {
		absolute: bottom 25% left 0;
		display: block;
		font-size:1.8em;
		width: 129px;
		text-transform:uppercase;
	}

	.menu {
		absolute: bottom 25% right 15px;

		.mobileHeader {
			display: none;
			font-size: 18px;
			font-weight: 100;
		}

		ul {
			margin: 0;
			padding-top: 5px;

			li a {
				color:$navTextColor;
				font-size: 1rem;
				font-weight: 400;
				text-transform:uppercase;
				margin-left: 23px;
				vertical-align: top;
			}
		}

		.mobileLogo {
			display: none;
			width: 50px;
			height: 40px;
		}
	}
}

/* pre {
	padding: 0;
	line-height: 0;

	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 34px;
		position: absolute;
		top: -34px;
		background: url('../images/actions.png') no-repeat 10px center;
		background-color: #E5E5E5;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		z-index: -1;
	}

	code {
		line-height: 1;
		background: #403F41;
		padding: 30px 40px;
		font-size: 23px;
		line-height: 31px;
		overflow: hidden;
		width: 100%;
		display: block;
		height: 100%;
		color: white;
		font-family: Consolas;
	}
}
*/

.subtitle {
	font-weight: 300;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}


/**
 * Above fold styles
 */

.aboveFold {
	overflow: hidden;
	color: white;
	background: $homeHeaderBg;
	padding: 2em 0;

	h1,
	h2 {
		color: #FFFFFF;
		font-size: 4.5rem;
		font-weight:300;
		margin:0 0 1rem 0;
	}

	h2 {
		font-size: 1.25rem;
		margin-top: 2rem;
	}

	.tagline {
		display: block;
		font-size: 1.2rem;
		margin-bottom:2rem;
	}

	.button {
		background:none;
		border:2px solid white;
	}
}


/**
 * Animations
 */

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}


@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUp {
	animation-name: fadeInUp;
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInDown {
	animation-name: fadeInDown;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInLeft {
	animation-name: fadeInLeft;
}

@keyframes bgMotion {
	0% {
		background-position: 0 0;
	}

	100% {
		background-position: 412px 412px;
	}
}




/**
 * Basic media queries
 */

+below(820px) {
	.aboveFold {

	}
}

+below(40.061em) {

	.aboveFold {

	}

	body.menuOpen {
		.mobileMenuToggle {
			// transform: translateX(-83px);
			fixed: right 20px top 20px;
			// color: #333;

			&:after {
				content: '✖'
			}
		}

		.menu {
			transform: translateX(0);
		}
	}

	.nav .menu {
		fixed: top 0 right 0;
		height: 100%;
		transform: translateX(100%);
		background: white;
		z-index: 2;
		transition: transform .2s;
		width: 140px;

		.mobileHeader {
			height: 69px;
			line-height: 62px;
			display: block;
			padding: 0 18px;
			color: white;
			background: rgb(224, 57, 48);
			border-right: 1px solid rgb(224, 57, 49);
		}

		.mobileLogo {
			display: inline-block;
			max-width: 50px;
			margin-bottom: 20px;
		}

		ul {
			padding: 22px 18px 0;
			margin: 0;
			height: calc(100% - 69px);
			border-left: 1px solid rgba(0, 0, 0, .2);

			li {
				margin-left: 0;
				display: block;
				float: none;

				a {
					color: #000;
					margin-left: 0;
				}
			}
		}
	}

	.mobileMenuToggle {
		absolute: right 20px top 20px;
		cursor: pointer;
		color: white;
		font-size: 24px;
		transition: transform .2s, color .2s;
		z-index: 3;

		&:after {
			content: '☰';
			display: block;
		}
	}
}