@import nib
@import variables
@import url('//fonts.googleapis.com/css?family=Lato:100,300,400,700|Merriweather:400,700,300,300italic,400italic,700italic');
@import '../../node_modules/rupture/rupture';
@import 'vendor/foundation.min.css';
@import 'vendor/sublime.css';


/**
 * Overrides
 */

body,
html {
	width: 100%;
	height: 100%;
	font-family: $bodyFont;
	font-size:15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headingFont;
}

p {
	line-height:1.8;
}

ul {
	li {
		margin: 0.5em;
	}
}

.button {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 100;
	font-family: $bodyFont;

	&.secondary {
		border: 1px solid #163e5a;
		background: transparent;
		color: #163e5a;

		&:hover {
			background: transparent;
		}
	}
}

a {
	color: $linkColor;

	&:hover, &:focus {
		color: lighten($linkColor, 20%);
	}
}


pre {
	background: #f8f8f8;
	border: 1px solid darken(@background, 10%);
	color: #333;
	line-height:1.5;
	margin:1.5em 0;
	padding: 1em 2em;
	word-wrap: break-word;

	code {
		overflow: hidden;
		display: block;
		font-family: Consolas;
	}
}




main {
	padding-top: $navHeight;
}


.nav {
	background: $navBg;
	//box-shadow: 0 2px 4px -1px rgba(0,0,0,0.25);
	color:$navTextColor;
	font-family: $navFont;
	height:$navHeight;
	margin: 0;
	position: fixed;
	top:0;
	width: 100%;
	z-index: 1;

	.navLogo {
		font-size:1.6em;
		width: 129px;
		text-transform:uppercase;
		color:$navTextColor;
	}

	.row {
		height: $navHeight;
		padding-top: ($navHeight / 2.5);
	}

	.menu {
		.mobileHeader {
			display: none;
			font-size: 18px;
			font-weight: 100;
		}

		.menuItems {
			padding-top: 5px;
			li a {
				color:$navTextColor;
				font-size: 0.9rem;
				font-weight: 400;
				text-transform:uppercase;
				margin-left: 23px;
				vertical-align: top;
			}
		}

		.mobileLogo {
			display: none;
			width: 50px;
			height: 40px;
		}
	}
}


.subtitle {
	font-weight: 300;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}


/**
 * Above fold styles
 */

.aboveFold {
	overflow: hidden;
	color: white;
	background: $homeHeaderBg;
	padding: 2em 0;

	h1,
	h2 {
		color: #FFFFFF;
		font-size: 4.5rem;
		font-weight:300;
		margin:0 0 1rem 0;
	}

	h2 {
		font-size: 1.25rem;
		margin-top: 2rem;
	}

	.tagline {
		display: block;
		font-size: 1.2rem;
		margin-bottom:2rem;
	}

	.button {
		background:none;
		border:2px solid white;
	}
}





/**
 * Basic media queries
 */

+below(820px) {
	.aboveFold {

	}
}

+below(40.061em) {

	.aboveFold {

	}

	body.menuOpen {
		.mobileMenuToggle {
			// transform: translateX(-83px);
			fixed: right 20px top 20px;
			// color: #333;

			&:after {
				content: '✖'
			}
		}

		.menu {
			transform: translateX(0);
		}
	}

	.nav .menu {
		fixed: top 0 right 0;
		height: 100%;
		transform: translateX(100%);
		background: white;
		z-index: 2;
		transition: transform .2s;
		width: 140px;

		.mobileHeader {
			height: 69px;
			line-height: 62px;
			display: block;
			padding: 0 18px;
			color: white;
			background: rgb(224, 57, 48);
			border-right: 1px solid rgb(224, 57, 49);
		}

		.mobileLogo {
			display: inline-block;
			max-width: 50px;
			margin-bottom: 20px;
		}

		ul {
			padding: 22px 18px 0;
			margin: 0;
			height: calc(100% - 69px);
			border-left: 1px solid rgba(0, 0, 0, .2);

			li {
				margin-left: 0;
				display: block;
				float: none;

				a {
					color: #000;
					margin-left: 0;
				}
			}
		}
	}

	.mobileMenuToggle {
		absolute: right 20px top 20px;
		cursor: pointer;
		color: white;
		font-size: 24px;
		transition: transform .2s, color .2s;
		z-index: 3;

		&:after {
			content: '☰';
			display: block;
		}
	}
}