button() {
	background: $buttonBg;
	border-radius: 15px;
	color:$buttonTextColor;
	font-family:$headingFont;
	padding: 0.45em 1em;
	text-decoration: none;
	transition: background 0.3s;

	&:hover {
		background: lighten($buttonBg, 10%);
	}
}