button($bg = $buttonBg, $color = $buttonTextColor, $hoverBg = $bg, $hoverColor = $color) {
	background: $bg;
	border-radius: 35px;
	border:0;
	color:$color;
	cursor:pointer;
	display:inline-block;
	font-family:$headingFont;
	font-size: 1rem;
	font-weight:bold;
	padding: 0.45em 1em;
	text-decoration: none;
	transition: background 0.3s, color 0.3s;

	&:hover {
		background: lighten($hoverBg, 10%);
		color: $hoverColor;
	}

	+below(2) {
		margin-bottom:2em;
		padding: 0.65em 1.25em;
	}
}


imageSprite($suffix, $extension = "svg") {
	background-image: url("images/sprites_" + $suffix + "." + $extension);
	background-repeat: no-repeat;

	if $extension == "svg" {
		.no-svg & {
			background-image: url("images/sprites_" + $suffix + ".png");
		}
	}
}

link($color = $linkColor, $hoverColor = lighten($color, 20%)) {
	a {
		text-decoration:none;
		transition: color 0.3s;
		linkStates($color, $hoverColor);
	}
}

linkStates($color, $hoverColor = lighten($color, 20%)) {
	&:link,
	&:visited {
		color: $color;
	}
	&:hover {
		color:$hoverColor
	}
}


dojoGradient() {
	//animation: dojoGradient 10s ease infinite;
	background: linear-gradient(141deg, $dojoOrange 0%, $dojoRed 100%);
	//background-size:200% 200%;
}

codeTable() {

	border-collapse:collapse;
	margin: 20px 0;


    th {
    	background: $lightBg;
    	border: 1px solid darken($lightBg, 15%);
    	color: #333333;
        font-family: $headingFont;
        font-weight: bold;
        text-align:center;
        font-size:14px;
        padding:0.5em 1em;
    }

    td {
        font-size:14px;
        padding:0.5em 1em;
        vertical-align: top;
        border:1px solid darken($lightBg, 15%);

        &:nth-child(1) {
        	whitespace: nowrap;
        }
    }

    .first {
        font-weight: normal;
        margin-top: 0;
    }
}

//Allows headings to show that would normally be covered by the fixed header
idScrollFix($offset = ($navHeightShrink + $subnavHeight)) {
	&:before {
          content:"";
          display:block;
          height:$offset; /* fixed header height*/
          margin:-($offset) 0 0; /* negative fixed header height */
        }
}