button() {
	background: $buttonBg;
	border-radius: 15px;
	color:$buttonTextColor;
	font-family:$headingFont;
	padding: 0.45em 1em;
	text-decoration: none;
	transition: background 0.3s;

	&:hover {
		background: lighten($buttonBg, 10%);
	}
}


imageSprite($suffix, $extension = "svg") {
	background-image: url("images/sprites_" + $suffix + "." + $extension);
	background-repeat: no-repeat;

	if $extension == "svg" {
		.no-svg & {
			background-image: url("images/sprites_" + $suffix + ".png");
		}
	}
}

trustedIcon($column = 0, $row = 0) {
	background-position: -($trustedIconWidth * $column)  (-($trustedIconHeight * $row));
}