@import variables

main {
	padding-top: $navHeight;

	& > .row {
		max-width:90%;
	}
}

/**
 * Overrides
 */

body,
html {
	width: 100%;
	height: 100%;
	font-family: $bodyFont;
	font-size:$baseFontSize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $headingFont;
	a {
		color: $headingColor;
		text-decoration:none;
	}
}

h2 {
	font-size: 2rem;
}

h3 {
	margin: 2rem 0 0.7rem 0;
}

p {
	line-height:1.8;
}

ul {
	li {
		margin: 0.5em;
	}
}

a {
	color: $linkColor;

	&:hover, &:focus {
		color: lighten($linkColor, 20%);
	}
}

pre,
code {
	font-family: $codeFont;
}

.button {
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
	font-weight: 100;
	font-family: $bodyFont;

	&.secondary {
		border: 1px solid #163e5a;
		background: transparent;
		color: #163e5a;

		&:hover {
			background: transparent;
		}
	}
}


label {
	display:inline-block;
}

select {
	width: auto;
}