.home {
	margin-top:$navHeight;
	padding:0;

	.heading {
		background: #F0F0F0;
		color: black;
		padding:2em 0;
		text-align: center;

		h1,
		h2 {
			color: black;
			font-size: 4.5rem;
			font-weight:300;
			margin:0 0 1rem 0;
		}

		h2 {
			font-size: 1.25rem;
			margin-top: 2rem;
		}

		.tagline {
			display: block;
			font-size: 1.2rem;
			margin-bottom:2rem;
		}

		.button {
			background:none;
			border:2px solid white;
			border-radius:5%;
			padding:1rem 2rem;
		}
	}

	.news {
		background:#3D4045;
		color: #fff;
		padding:2em;
	}

	#docs {
		.doc {
			text-align: center;
			h3 {
				color:#3EDBD9;
				font-weight:300;
				text-transform:uppercase;

				a {
					color:#fff;
				}
			}

			&.tutorials {
				background:#3EDBD9;
			}

			&.guide {
				background:#3A98FE;


			}

			&.api {
				background:#5841B8;
			}
		}
	}
}