.home {
	margin-top:$navHeight;
	padding:0;

	.heading {
		background: $baseColor;
		color: white;
		padding:2em 0;
		text-align: center;

		h1,
		h2 {
			color: #FFFFFF;
			font-size: 4.5rem;
			font-weight:300;
			margin:0 0 1rem 0;
		}

		h2 {
			font-size: 1.25rem;
			margin-top: 2rem;
		}

		.tagline {
			display: block;
			font-size: 1.2rem;
			margin-bottom:2rem;
		}

		.button {
			background:none;
			border:2px solid white;
			border-radius:5%;
			padding:1rem 2rem;
		}
	}

	.row {

	}

	#docs {
		.doc {
			text-align: center;
		}
	}
}