.footer {
	background-color:$softBlack;
	color:#fff;
	font-size:0.75em;
	margin-top:2rem;

	.content {
		max-width:90%;
		margin:0 auto;
		padding:2rem;

		link($dojoOrange);

		.license {
			margin-left: 1em;
		}

		.info {
			text-align: right;
		}
	}
}


.becomeContributor {
	text-align: center;
	.button {
		button(transparent, $dojoOrange, $dojoRed, #fff);
		border:2px solid $dojoRed;
		font-size:1rem;
		padding:1em 4em;
		margin:1em 0 3em 0;
	}
}


.soc {
	text-align:center;

	[class^="icon-"] {
		display: inline-block !important;
		font-size: 2rem;
		margin:0 0.7em;
		text-decoration: none;
	}

	.icon-github {
		linkStates($githubColor);
	}

	.icon-twitter {
		linkStates(#55ACEE);
	}

	.icon-facebook {
		linkStates: #3B5998;
	}

	.icon-gplus {
		linkStates: #DD4B39;
	}
}


.three-up-icons {

	.tutorials {
		position: relative;

		.sectionTitle {
			position:absolute;
			left:0;
			right:0;
			top:0;
			opacity:1;
			transition: opacity 0.4s;
		}
	}
}