.footer {
	background-color:$softBlack;
	color:#fff;
	font-size:0.75em;
	margin-top:2rem;

	.content {
		width:90%;
		max-width:$maxWidth;
		margin:0 auto;
		padding:2rem;

		link($dojoOrange);

		.license {
			margin-left: 1em;
		}

		.info {
			text-align: right;
		}
	}
}


.becomeContributor {
	text-align: center;
	.button {
		button(transparent, $dojoOrange, $dojoRed, #fff);
		border:2px solid $dojoRed;
		font-size:1rem;
		padding:1em 4em;
		margin:1em 0 3em 0;
	}
}


.soc {
	text-align:center;

	[class^="icon-"] {
		display: inline-block !important;
		font-size: 2rem;
		margin:0 0.7em;
		text-decoration: none;
	}

	.icon-github {
		linkStates($githubColor);
	}

	.icon-twitter {
		linkStates(#55ACEE);
	}

	.icon-facebook {
		linkStates: #3B5998;
	}

	.icon-gplus {
		linkStates: #DD4B39;
	}
}


.three-up-icons {

	.tutorials {
		position: relative;

		.sectionTitle {
			position:absolute;
			left:0;
			right:0;
			top:0;
			opacity:1;
			transition: opacity 0.4s;
		}
	}
}


.cardGrid {
	& > .row {
		padding-top: 0.9375em;
		padding-bottom: 0.9375em;

		.columns {
			&:nth-child(1) {
				padding-left:0;
			}

			&:nth-child(2) {
				padding-right:0;
			}
		}
	}

	.card {
		background: #fff;
		box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.21);
		border-radius: 3px;
		text-align: left;

		.content {
			padding: 20px;
		}

		.title {
			font-size: 26px;
			font-weight: 300;
			font-family: $headingFont;
			margin-bottom: 10px;

			link($dojoBlue)

			.disabled,
			.disabled:hover {
				cursor:default;
				color: $headingColor;
			}
		}

		.description {
			font-size: 0.9rem;
			line-height: 21px;
			font-family: $bodyFont;
		}

		.taskbar {
			background: $lightBg;
			font-size: 0.9rem;
			padding: 15px;
			position: relative;
			text-align: right;

			.controls {
				position: absolute;
				top: 0;
				left: 0;

				link($dojoBlue);

				.icon {
					padding: 13px 15px;
					border-right: 1px solid darken($lightBg, 10%);

					display: inline-block;

					&:before {
						font-size: 25px;
					}

					&.icon-spec:after,
					&.icon-github:after {
						font-family: $headingFont;
						display: inline-block;
						vertical-align: top;
						position: relative;
						top: 6px;
						margin-left: 10px;
						font-weight: bold;
					}

					&.icon-spec:after {
						content: 'SPEC';
					}

					&.icon-github:after {
						content: 'CODE';
					}
				}

				.disabled {
					cursor: default;
					.icon {
						color: #AAA;

						&:after {
							display: none;
						}
					}
				}
			}

			.tag {
				font-family: $headingFont;
				font-size:0.9rem;
				text-transform: uppercase;
			}
		}
	}
}