.footer {
	background-color:$softBlack;
	color:#fff;
	font-size:0.75em;
	margin-top:2rem;

	.content {
		width:90%;
		max-width:$maxWidth;
		margin:0 auto;
		padding: 2rem 2rem 2.8rem 2rem;

		link($dojoOrange);

		.license {
			margin-left: 1em;
		}

		.info {
			text-align: right;
		}

		@media (max-width: 750px) {
			.copyright,
			.info {
				text-align: center;
			}

			.info {
				margin: 15px 0 20px;
			}
		}
	}
}


.becomeContributor {
	text-align: center;
	.button {
		button(transparent, $dojoOrange, $dojoRed, #fff);
		border:2px solid $dojoRed;
		font-size:1rem;
		padding:1em 4em;
		margin:1em 0 3em 0;
	}
}


.soc {
	text-align:center;

	[class^="icon-"] {
		display: inline-block !important;
		font-size: 2rem;
		margin:0 0.7em;
		text-decoration: none;
	}

	.icon-github {
		linkStates($githubColor);
	}

	.icon-twitter {
		linkStates(#55ACEE);
	}

	.icon-facebook {
		linkStates: #3B5998;
	}

	.icon-gplus {
		linkStates: #DD4B39;
	}
}

.three-up-icons {

	.iconBlock {
		padding:4rem 2rem;
		text-align: center;
		transition: background-color 0.2s;

		[class^="icon-"] {
			display:block;
			color:$docIconColor;
			font-size:5.5rem;
			position: relative;
			text-decoration:none;
			transition: 0.4s ease-in;
		}

		.blockLink {
			color:$docTitleColor;
			font-size: 1.2rem;
			font-weight:400;
			margin-top:1em;
			position: relative;
			text-transform:uppercase;
			link($dojoOrange);
			transition: 0.4s ease-in;

			a {
				display:block;
			}
		}

		p {
			font-size:0.9rem;
			margin:0 auto;
			max-width:95%;
		}

		+below(3) {

			[class^="icon-"] {
				font-size:3rem;
			}

			img {
				max-width:70px;
			}
		}

		+below(2) {
			float:none !important;
			margin:0 auto;
			padding:1.5rem 4rem;
			position:relative;
			text-align:left;
			width:100%;

			.blockLink,
			p,
			.multi {
				margin:0 auto 0 70px !important;;
				padding-left:0 !important;;
				text-align:left !important;;
				max-width:80% !important;;

			}

			[class^="icon-"]:before,
			img {
				font-size:3rem;
				position:absolute;
				left:0;
				width:50px;
			}

			img {
				width:65px;
			}
		}

	}

	.tutorials {
		position: relative;

		.sectionTitle {
			position:absolute;
			left:0;
			right:0;
			top:0;
			opacity:1;
			transition: opacity 0.4s;
		}
	}
}


.cardGrid {
	& > .row {
		padding-top: 0.9375em;
		padding-bottom: 0.9375em;

		.columns {
			&:nth-child(1) {
				padding-left:0;
			}

			&:nth-child(2) {
				padding-right:0;
			}
		}
	}

	.row {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}

	+below(2) {
		.row {
			margin:0;
			padding:0;
			[class*="column"] + [class*="column"]:last-child {
				float:none;
			}
		}

		.columns {
			float:none;
			margin-bottom:1.5em;
			padding:0;
		}
	}

	.card {
		background: #fff;
		box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.21);
		border-radius: 3px;
		text-align: left;

		.content {
			padding: 20px;

			+below(2) {
				height: auto !important;
				padding:15px;
			}
		}

		.title {
			font-size: 26px;
			font-weight: 300;
			font-family: $headingFont;
			margin-bottom: 10px;

			link($dojoBlue)

			.disabled,
			.disabled:hover {
				cursor:default;
				color: $headingColor;
			}

			+below(2) {
				font-size:1.5rem;
			}
		}

		.description {
			font-size: 0.9rem;
			line-height: 21px;
			font-family: $bodyFont;
		}

		.taskbar {
			background: $lightBg;
			font-size: 0.9rem;
			padding: 15px;
			position: relative;
			text-align: right;

			.controls {
				position: absolute;
				top: 0;
				left: 0;

				link($dojoBlue);

				.icon {
					padding: 13px 15px;
					border-right: 1px solid darken($lightBg, 10%);

					display: inline-block;

					&:before {
						font-size: 25px;
					}


					&.icon-spec,
					&.icon-github {
						&:after {
							content:'';
							display: inline-block;
							font-family: $headingFont;
							font-weight: bold;
							margin-left: 10px;
							opacity:0.2;
							position: relative;
							top: 6px;
							transition:opacity 0.6s, width 0.5s;
							text-align:left;
							vertical-align: top;
							width:0;
						}

						&:hover:after {
							content: 'PROPOSAL';
							opacity:1;
							width:80px;
						}
					}

					&.icon-spec {
						padding-right:5px;
					}

					&.icon-github:after {
						content: 'CODE';
					}

				}

				.disabled {
					cursor: default;
					.icon {
						color: #AAA;

						&:after {
							display: none;
						}
					}
				}
			}

			.tag {
				font-family: $headingFont;
				font-size:0.9rem;
				text-transform: uppercase;
			}
		}
	}
}


.support {
	link($dojoOrange);
	text-align: center;

	.columns {
		margin: 1em auto;
	}

	.icon {
		display: inline-block;
		text-align: center;

		&:before {
			background-color: #fff;
			border-radius: 100%;
			color: $dojoRed;
			content: '';
			display:block;
			font-family: 'icomoon_icons';
			font-size:58px;
			height: 100px;
			margin:0 auto 1rem auto;
			padding-top:5px;
			transition: background-color 0.4s, color 0.4s, font-size 0.4s;
			width: 100px;
		}


		&.mailingList:before {
			content: '\e84f';
			font-size:46px;
			padding-top:15px;
		}

		&.irc:before {
			content: '\e8a3';
		}

		&.stackoverflow:before {
			content: '\e600';
			font-size:46px;
			padding-top:12px;
		}

		&.bug:before {
			content: '\e8ce';
		}

		&.support:before {
			background: #fff url('images/sprite_sitepen_logo.png') no-repeat 50% 20px;
			background-size: 41px 139px;
		}

		&:hover {
			&:before {
				background-color: $dojoRed;
				color: #fff;
			}

			&.support:before {
				background-color: $dojoRed;
				background-position: 50% -60px;
			}
		}
	}

	+below(2) {
		.icon {
			&:before {
				font-size:45px;
				width:70px;
				height:70px;
				padding-top:0;
			}

			&.stackoverflow:before,
			&.mailingList:before {
				font-size:35px;
				padding-top:2px;
			}

			&.support:before {
				background-size: 30px 102px;
				background-position: 50% 12px;
			}

			&:hover {
				&.support:before {
					background-position: 50% -48px;

				}
			}

			&.support {
				padding-left:0;
			}
		}

		.columns {
			margin:0 auto;
		}
	}

	+below(1) {
		padding-left:1.5rem;
		text-align:left;

		.sectionTitle {
			font-size:1.5rem !important;
			margin:0.25rem auto;
		}

		.icon {
			&:before {
				float:left;
				margin-right:1rem;
			}
			line-height:70px;
		}
	}
}