@import '../../node_modules/rupture/rupture'
@import nib
@import footer
@import 'vendor/github.css'


/**
 * Overrides
 */

body,
html {
	width: 100%;
	height: 100%;
	font-family: "proxima-nova", sans-serif;
}

body {
	padding-top: 120px;
}

.nav {
	margin-bottom: 100px;
	fixed: top 0 left 0;
	width: 100%;
	z-index: 10;
}

.footer {
	margin-top: 100px;
}

.content > h2 {
	line-height: 28px;
	margin: 0 0 20px;
}

.button {
	margin: 0;
}

.button-group {
	margin-bottom: 1.25rem;
}

pre {
	margin-bottom: 1.25rem;
	font-size: 15px;
}



/**
 * Tutorial nav
 */

.tutorialNav {
	text-transform: uppercase;
	font-size: 16px;

	a {
		color: #8C8C8C;
		font-weight: 100;
		display: block;
	}

	a:not(:last-child) {
		margin: 25px 0;
	}

	.title {
		font-weight: 600;
	}

	.active {
		color: #333;
		font-weight: 400;
	}
}



/**
 * Media queries
 */

+below(64.061em) {
	body {
		padding-top: 70px;
	}

	.nav {
		margin: 0;
	}

	.tutorialNav {
		margin: 50px 0;
	}
}