@import 'vendor/tomorrow-night-bright.css'
@import variables

.tutorial {
	padding-top:2em;

	iframe + p {
		margin-top: 1em;
	}

	pre {
		code {
			color: #f8f8f2;
			display: block;
			overflow-x: auto;
			padding: 1em;
			background: #23241f;
			-webkit-text-size-adjust: none;
		}
	}

	h2 {
		font-size:3.5rem;
		font-weight:300;
		margin:0;
	}

	h3 {
		font-size:2rem;
	}

	h4 {
		font-size: 1.5rem;
		margin-bottom:0;
	}

	h5 {
		font-size: 1.2rem;
		margin-bottom:0;
	}

	.difficulty {
		span {
			font-weight:bold;

			&:nth-child(2) {
				margin-left:2rem;
			}
		}
	}
}