$baseColor = #F8D045;
$linkColor = #0D47A1;
$selectedBg = $baseColor;
$selectedTextColor = #fff;
$lightBg = #F2F2F2;

// Typography
$headingFont = "Lato", sans-serif;
$bodyFont = "Merriweather", serif;
$codeFont = Ubuntu Mono, "Courier", monospace;
$iconFont = "FontAwesome";
$baseFontSize = 15px;

$headingColor = #000;
$pageHeadingSize = $baseFontSize * 3.5;
$pageHeadingWeight = 300;

// Header/Navigation
$navFont = $headingFont;
$navHeight = 70px;
$navBg = #fff;
$navTextColor = #111;
$navBorder = 1px solid #eee;

// Sub-Nav
$subnavBg = darken($navBg, 25%);
$subnavHeight = 40px;
$subnavLink = #fff;


// Code
$codeBackground = black;

$buttonBg = #01BBDE;
$buttonTextColor = #fff;