$softBlack = #353535;
$dojoOrange = #FC5B3A;
$dojoBurntOrange = #BF360C;
$dojoRed = #F02541;
$dojoGreen = #4CAF50;
$dojoLightBlue = #00BCD4;
$dojoBlue = #007ACC;
$dojoYellow = #FBC03A;
$dojoPurple = #6A1B9A;

$primaryColor = $dojoRed;
$secondaryColor = $dojoOrange;

$maxWidth = 1150px;
$linkColor = #0D47A1;
$selectedBg = $primaryColor;
$selectedTextColor = #fff;
$lightBg = #F5F5F5;
$sectionAltBg = #FBFBFB;
$lightBorder = #DFDFDF;
$githubColor = #4183C4;

// Typography
$headingFont = "Lato", sans-serif;
$bodyFont = "Merriweather", serif;
$codeFont = Ubuntu Mono, "Consolas", "Courier", monospace;
$iconFont = "FontAwesome";
$baseFontSize = 15px;
$codeFontSize = 1rem;
$lineHeight = 1.8;
$headingColor = #000;
$headingColorAlt = $secondaryColor;
$pageHeadingSize = $baseFontSize * 3.5;
$pageHeadingWeight = 300;

// Header/Navigation
$navFont = $headingFont;
$navFontSize = 1rem;
$navHeight = 86px;
$navBg = $primaryColor;
$navTextColor = #fff;
$navBorder = 0;
$navTransitionTime = 0.4s;
$navShadow = 1px 1px 3px 0 rgba(50, 50, 50, 0.3);
$navHeightShrink = $navHeight * 0.75;

// Sub-Nav
$subnavBg = $lightBg;
$subnavHeight = 50px;
$subnavLink = $softBlack;


// Code
$codeBg = #353535;
$codeTextColor = $softBlack;
$buttonBg = #01BBDE;
$buttonTextColor = #fff;
$proTipBg = $sectionAltBg;

// Docs Leadin
$docIconColor = $primaryColor;
$docTitleColor = $secondaryColor;
$guideHoverBg = $secondaryColor;
$apiHoverBg = $primaryColor;
$tutorialsHoverBg = mix($guideHoverBg, $apiHoverBg);


//Icons
$icon_gettingStarted = '\e60b';
$icon_modules = '\e608';
$icon_domBasics = '\e60a';
$icon_fundamentals = '\e60c';
$icon_widgets = '\e60e';
$icon_workingWithData = '\e60d';
$icon_mobile = '\e5eb';

//Responsive

scale = 0 640px 40.063em 750px 825px 1050px;

$scaleBelow2 = 0.8;


//Syntax Highlighting

$keyword = #c397d8;
$params = #e78c45;