<!DOCTYPE html>
<html>
<head>
	<%- include ../_partials/meta %>
	<title>Download - Dojo Toolkit</title>
</head>
	<body class="download">
		<%- include ../_partials/header %>
		<main>
			<div class="row">
				<div class="small-centered medium-10 large-10 columns">
					<h1 class="pageTitle">Get the Dojo Toolkit</h1>
					<h2 class="subTitle">Google CDN</h2>
					<p class="itemIntro">Copy and paste the script tag into your web page.</p>
					<pre class="codeBlock"><code class="html"><script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.3/dojo/dojo.js"></script></code></pre>
					<p class="itemIntro">Learn to use Dojo.</p>
					<div class="learnMore"><a href=""><span class="button">Hello Dojo Tutorial</span></a></div>
				</div>
			</div>
			<%- include ../_partials/footer %>
		</main>
	</body>
</html>