.loadingOverlay {
    background:  #fff url('/js/dojo/1.6/dijit/themes/claro/images/loadingAnimation.gif') no-repeat 10px 23px;
    position: absolute;
    z-index: 1001;
    display: none;
}

.pageOverlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.loadingMessage {
    padding: 25px 40px;
    color: #999;
}

.peopleList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.peopleList li {
	border: 1px solid #999;
	width: 150px; 
	height: 45px;
	float: left;
	background: no-repeat top left;
	margin: 5px;
}
.peopleList li span.name {
	display:block;
	margin: 15px 5px 0 55px;
	overflow: hidden;
}

.container {
	position: relative;
	height: 12em;
	overflow: auto;
}