<!DOCTYPE html>
<html>
<head>
	<% include _partials/meta %>
	<title>Dojo Toolkit</title>
</head>
<body>
	<% include _partials/header %>
	<main class="home">
		<div class="heading">
			<div class="tagline text-center">
				<div class="row">
					<div class="medium-offset-1 medium-10 large-offset-2 large-8 columns">
						<h1>Dojo Toolkit 1.10</h1>
						<span class="tagline">A JavaScript toolkit that saves you time and scales with your development process.</span>
						<span class="button">Get Dojo</span>

						<h2>Trusted by</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="row" id="docs">
			<div class="small-centered">
				<div class="small-4 columns doc">
					<h3>Docs</h3>
					<a href="<%= tutorialsUrl %>">Tutorials</a>
					<a href="<%= refguideUrl %>">Reference Guide</a>
					<a href="<%= apiUrl %>">API</a>
				</div>
				<div class="small-4 columns doc">
					<h3>
				</div>
				<div class="small-4 columns doc">

				</div>
			</div>
		</div>

		<% include _partials/footer %>
	</main>
</body>
</html>