<!DOCTYPE html>
<html>
<head>
	<% include _partials/meta %>
	<title>Dojo Toolkit</title>
</head>
<body class="home">
	<% include _partials/header %>
	<main>
		<div class="heading">
			<div class="tagline text-center">
				<div class="row">
					<div class="medium-centered medium-10 large-10 columns">
						<h1>Dojo Toolkit 1.10</h1>
						<span class="tagline">A JavaScript toolkit that saves you time and scales with your development process.</span>
						<span class="button">Get Dojo</span>

						<h2>Trusted by</h2>
						<div class="trusted">
							<span class="sprite cisco"></span>
							<span class="sprite jpmorgan"></span>
							<span class="sprite esri"></span>
							<span class="sprite intuit"></span>
							<span class="sprite adp"></span>
							<span class="sprite ibm"></span>
							<span class="sprite fanniemae"></span>
							<span class="sprite marriott"></span>
							<span class="sprite sitepen"></span>
							<span class="sprite vmware"></span>
							<span class="sprite philips"></span>
							<span class="sprite mathworks"></span>
							<span class="sprite pearson"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row news">
			<div class="small-2 columns title">
				<h3>News</h3>
			</div>
		</div>
		<div class="row" id="docs">
			<div class="small-centered">
				<div class="small-4 columns doc">
					<h3>Docs</h3>
					<a href="<%= tutorialsUrl %>">Tutorials</a>
					<a href="<%= refguideUrl %>">Reference Guide</a>
					<a href="<%= apiUrl %>">API</a>
				</div>
				<div class="small-4 columns doc">
					<h3>
				</div>
				<div class="small-4 columns doc">

				</div>
			</div>
		</div>

		<% include _partials/footer %>
	</main>
</body>
</html>