<!DOCTYPE HTML>
<html>
<head>
	<% include templates/meta %>
	<% include templates/ga %>
	<% include templates/favicons %>

	<title>Dojo Toolkit</title>

	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<% include templates/nav %>

	<div class="aboveFold">
		<div class="tagline text-center">
			<div class="row">
				<div class="medium-offset-1 medium-10 large-offset-2 large-8 columns">
					<h1>Dojo Toolkit 1.10</h1>
					<span class="tagline">A JavaScript toolkit that saves you time and scales with your development process.</span>
					<span class="button">Get Dojo</span>

					<h2>Trusted by</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="features">
		<div class="row">
			<div class="medium-offset-1 medium-10 large-offset-2 large-8 columns text-center wow fadeInDown">

			</div>
		</div>

		<div class="row wow fadeInUp">

		</div>
		<div class="row wow fadeInUp">

		</div>
	</div>


	<% include templates/footer %>

	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.6/wow.js"></script>
	<script>
		(function () {
			new WOW().init();
			hljs.initHighlightingOnLoad();
		})();
	</script>
</body>
</html>
