<!DOCTYPE HTML>
<html>
<head>
	<% include templates/meta %>
	<% include templates/ga %>
	<% include templates/favicons %>

	<title>Dojo Toolkit</title>
</head>
<body>
	<% include templates/nav %>
	<main>
		<div class="aboveFold">
			<div class="tagline text-center">
				<div class="row">
					<div class="medium-offset-1 medium-10 large-offset-2 large-8 columns">
						<h1>Dojo Toolkit 1.10</h1>
						<span class="tagline">A JavaScript toolkit that saves you time and scales with your development process.</span>
						<span class="button">Get Dojo</span>

						<h2>Trusted by</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="features">
			<div class="row">
				<div class="medium-offset-1 medium-10 large-offset-2 large-8 columns text-center wow fadeInDown">

				</div>
			</div>

			<div class="row wow fadeInUp">

			</div>
			<div class="row wow fadeInUp">

			</div>
		</div>


		<% include templates/footer %>
	</main>
</body>
</html>
