body {
	padding:2em;
}

h1 {
	margin-bottom:2em;
}


.add-borders ul, .add-borders li, .add-borders div, .add-borders a {
	padding: 2px;
}
.add-borders ul {
	border: 1px solid red;
}
.add-borders li {
	border: 1px solid blue;
}
.add-borders div {
	border: 1px solid green;
}
.add-borders a {
	border: 1px solid black;
}

.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.highlight {
	background-color: yellow;
}

.console {
	font-family:"Courier",Georgia,Serif;
}

.summary {
    padding: 5px 10px;
}
#summary {
    background-color: #ff7;
}
.buttonDown {
    border: 2px solid #769DC0    
}

.productList li {
    position: relative;
}
.buyButton { 
    position: absolute; 
    left: 12em; 
    top: 1px;
}
.inactive .buyButton { 
	background-color: #eee;
	color: #666;
	border-color: #999;
}