@import url('//fonts.googleapis.com/css?family=Domine|Fjalla+One|Merriweather:400,700,400italic,700italic|Roboto:400');
@import 'nib'
global-reset()

$headingColor = #323232;
$statusBg = #313B4B;
$textColor = #333333;
$contributeColor = #E56AA4;
$linkColor = #31B8EE;

body {
	font-family: 'Merriweather', serif;
	font-size: 16px;
}

main {
	box-sizing:border-box;
	padding:0 12.5%;
	width: 75%;
}

header {
	padding:1.5em 0 5em 0;
	position: relative;

	.involved {
		color: #616060;
		font-family: 'Roboto', sans-serif;
		font-size:0.925em;
		height:50px;
		position:absolute;
		right:0;
		text-decoration:none;
		text-transform: uppercase;
		transition: color 0.5s;
		vertical-align:middle;

		&:before {
			content: "";
			display:inline-block;
			width: 60px;
	  		height: 50px;
	  		background: url("../images/heart.svg") no-repeat;
	  		background-position: 0 0;
	  		position:relative;
	  		left:10px;
	  		vertical-align:middle;
	  		visibility: hidden;
		}

		&:hover {
			color:$contributeColor;
			&:before {
				background-position: -3519px 0;
				transition: background 1s steps(55);
				visibility: visible;
			}
		}
	}
}

.status {
	box-sizing:border-box;

	h1 {
		font-size:1em;
		font-weight:bold;
		padding:2.5em 2.5em 0.8em 2.5em;
	}

	.packageList {
		padding: 0 2.5em;
	}

	li {
		background: #fff;
		color: $linkColor;
		cursor: pointer;
		line-height:20px;
		font-size:0.92em;
		padding:0.25em 0;
		transition: color 0.4s;
		vertical-align: middle;

		&:hover {
			color: lighten($linkColor, 30%);
		}

	}
}

article {
	line-height:35px;

	h1 {
		color: $headingColor;
		font-family: 'Fjalla One', sans-serif;
		font-size: 9em;
		line-height: 1em;
		margin-bottom: 2rem;

		& + h2 {
			margin-top:0;
		}
	}

	strong {
		font-weight: bold;
	}

	h2, h3 {
		color: lighten($headingColor, 10%);
		font-family: 'Domine', serif;
		font-size:1.8em;
		margin:2em 0 0.5em 0;
	}

	h3, h4 {
		font-size:1.2em;
		padding:0;
		margin:1.5em 0 0 0;
	}

	h4 {
		color: #3F51B5;
	}

	p {
		color: $textColor;
		margin:0.2rem 0 1rem 0;
	}

	.to2 {
		padding-left:1em;
	}

	ol {
		list-style-type: decimal;
		margin-left:2em;

		li {
			margin:1em 0;

			strong {
				display:block;
			}
		}
	}
}