@import url('//fonts.googleapis.com/css?family=Domine|Lato:100,300,400,700|Merriweather:400,700,400italic,700italic|Roboto:400');
@import 'nib'
global-reset()

$headingColor = #323232;
$statusBg = #313B4B;
$textColor = #333333;
$contributeColor = #E56AA4;
$linkColor = #31B8EE;

body {
	font-family: 'Merriweather', serif;
	font-size: 16px;
}

.content, header {
	box-sizing:border-box;
	margin:0 auto;
	padding:0 12.5%;
	max-width: 1000px;
	width: 75%;
}

.sectionTitle {
	background: #31B8EE;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 6em;
	font-weight:300;
	line-height: 1em;
	padding:1em 0;
	text-align:center;

	&#status {
		background:#1E88E5;
		font-size:4em;
		margin:1em 0 0 0;
		padding:1em 0;
	}
}

header {
	padding:1.5em 0 5em 0;
	position: relative;

	.menu {
		font-family: 'Roboto', sans-serif;
		font-size:0.925em;
		height:50px;
		position:absolute;
		right:0;
		text-transform: uppercase;
		transition: color 0.5s;
		vertical-align:middle;

		li {
			display: inline-block;

			a {
				color: #616060;
				margin-right:2em;
				text-decoration:none;
				&:hover {
					color: #1E88E5;
				}
			}
			.involved {
				&:before {
					content: "";
					display:inline-block;
					width: 60px;
			  		height: 50px;
			  		background: url("../images/heart.svg") no-repeat;
			  		background-position: 0 0;
			  		position:relative;
			  		left:10px;
			  		vertical-align:middle;
			  		visibility: hidden;
				}

				&:hover {
					color:$contributeColor;
					&:before {
						background-position: -3519px 0;
						transition: background 1s steps(55);
						visibility: visible;
					}
				}
			}
		}
	}
}

.packageStatus {
	background: #ECEFF1;
	box-sizing:border-box;
	padding:2em 0 5rem 0;

	.content {
		max-width: 100%;
		width:95%;
		padding:0;
	}

	.packageList {
		.package {
			background: white;
			box-sizing: border-box;
			display:inline-block;
			padding:1em;
			margin:2%;
			width:45%;
		}
	}

	li {
		cursor: pointer;
		display: inline-block;
		line-height:20px;
		font-size:0.92em;
		padding:0.25em 0;
		transition: color 0.4s;
		vertical-align: middle;

		&:hover {
			color: lighten($linkColor, 30%);
		}

	}
}

article {
	line-height:35px;

	strong {
		font-weight: bold;
	}

	h2, h3 {
		color: lighten($headingColor, 10%);
		font-family: 'Domine', serif;
		font-size:1.8em;
		margin:2em 0 0.5em 0;
	}

	h3, h4 {
		font-size:1.2em;
		padding:0;
		margin:1.5em 0 0 0;
	}

	h4 {
		color: #3F51B5;
	}

	p {
		color: $textColor;
		margin:0.2rem 0 1rem 0;
	}

	.to2 {
		padding-left:1em;
	}

	ol {
		list-style-type: decimal;
		margin-left:2em;

		li {
			margin:1em 0;

			strong {
				display:block;
			}
		}
	}
}

@media screen and (min-width: 1000px) {

	.content {
		padding:0 5%;
	}

	.packageStatus {
		.content {

		}
		.packageList .package {
			margin: 1%;
			width: 31%;
		}
	}
}

@media screen and (max-width: 900px) {
	.content {
		width: 90%;
		padding:0 10%;
	}

	.packageStatus {
		.content {
			padding:0;
		}
		.packageList .package {
			margin: 1%;
			width: 46%;
		}
	}
}


@media screen and (max-width: 700px) {

	.sectionTitle, .sectionTitle#status {
		font-size: 3em;
	}

	.packageStatus .packageList .package {
		width: 100%;
	}

}

@media screen and (max-width: 500px) {
	header {
		height:50px;
		width: 100%;
		padding: 0;
	}
}