<section class="banner">
	<div class="row">
		<div class="small-12 columns small-centered bannerItem">
			<div class="constrain">
				<p><a href="<%= url.ext.dojoio %>"><img src="/images/projects/dojoio-256.png" class="bannerLogo" alt="dojo.io"></a> Visit <a href="<%= url.ext.dojoio %>">dojo.io</a> for documentation, examples, and more on Dojo, the Progressive Framework for Modern Web Apps and successor to the Dojo Toolkit</p>
			</div>
		</div>
	</div>
</section>