<div class="row full footer">
	<div class="content">
		<div class="medium-6 columns copyright">
			<span>&copy; <a href="<%= url.ext.dojoFoundation %>">The Dojo Foundation</a>, All Rights Reserved. <a href="<%= url.license %>" class="license">License Information</a></span>
		</div>
		<div class="medium-6 columns info">
			<span>Internet Application Management Provided By <a href="http://www.reliam.com/">Reliam, Inc.</a></span>
		</div>
	</div>
	<% include ga %>
</div>