<footer class="footer">
	<div class="row">

		<div class="medium-6 columns copyright">
			<span>&copy; <a href="<%= url.ext.dojoFoundation %>">JS Foundation</a>, All Rights Reserved. <a href="<%= url.license %>" class="license">License Information</a></span>
			<span class="hosting">Hosting By <a href="http://www.reliam.com/">Reliam, Inc.</a></span>
		</div>
		<div class="medium-6 columns info">
			<span class="testing">Dojo tests with <a href="http://browserstack.com"><img src="/images/vendor/browserstack.png" class="logo" alt="browserstack"></a></span>

		</div>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-22088032-1', 'auto');
			ga('send', 'pageview');
		</script>
	</div>
</footer>
