
<div class="subnav">
	<div class="row">
		<div class="medium-12 columns">
			<ul>
				<%
					subnav.forEach(function(item, idx){
				%>
					<li><a href="<%- item.url %>"><%= item.label %></a></li>
				<%
					});
				%>
			</ul>
		</div>
	</div>
</div>