@font-face {
	font-family: 'icomoon_icons';
	src:url('fonts/icomoon_icons.eot?316nmy');
	src:url('fonts/icomoon_icons.eot?316nmy#iefix') format('embedded-opentype'),
		url('fonts/icomoon_icons.ttf?316nmy') format('truetype'),
		url('fonts/icomoon_icons.woff?316nmy') format('woff'),
		url('fonts/icomoon_icons.svg?316nmy#icomoon_icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon_icons' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-sun:before {
	content: "\e064";
}
.icon-dojo:before {
	content: "\e613";
}
.icon-source:before {
	content: "\e612";
}
.icon-dom:before {
	content: "\e60a";
}
.icon-compass:before {
	content: "\e60b";
}
.icon-fundamentals:before {
	content: "\e60c";
}
.icon-loop:before {
	content: "\e60d";
}
.icon-widgets:before {
	content: "\e60e";
}
.icon-code-cloud:before {
	content: "\e60f";
}
.icon-base:before {
	content: "\e610";
}
.icon-package:before {
	content: "\e611";
}
.icon-round:before {
	content: "\e606";
}
.icon-right:before {
	content: "\e609";
}
.icon-complete:before {
	content: "\e603";
}
.icon-typescript:before {
	content: "\e604";
}
.icon-spec:before {
	content: "\e605";
}
.icon-modern:before {
	content: "\e5eb";
}
.icon-fall:before {
	content: "\e607";
}
.icon-modular:before {
	content: "\e608";
}
.icon-tutorials:before {
	content: "\e828";
}
.icon-mail:before {
	content: "\e84f";
}
.icon-chat:before {
	content: "\e8a3";
}
.icon-api:before {
	content: "\e8c9";
}
.icon-bug:before {
	content: "\e8ce";
}
.icon-facebook:before {
	content: "\61";
}
.icon-twitter:before {
	content: "\62";
}
.icon-gplus:before {
	content: "\50";
}
.icon-profile-male:before {
	content: "\e040";
}
.icon-global:before {
	content: "\e052";
}
.icon-guide:before {
	content: "\e006";
}
.icon-play:before {
	content: "\e602";
}
.icon-code:before {
	content: "\e601";
}
.icon-heart:before {
	content: "\2665";
}
.icon-github:before {
	content: "\f00a";
}
.icon-stackoverflow:before {
	content: "\e600";
}

